{% extends '/Generic.twig' %}

{% block BodyEnd %}

	<script type="text/javascript">
		$(function () {
			//Поставить сегодняшнее время и дату
			$('body').on('click','input[data-action=set-now-date]',function(){

				var currentDate = new Date();

				var $date = sprintf('%02u.%02u.%04u %02u:%02u',
					  currentDate.getDate(),
					  currentDate.getMonth()+1,
					  currentDate.getFullYear(),
					  currentDate.getHours(),
					  currentDate.getMinutes()
				);
				$('#eventDate').val($date);
			});

			$('#eventDate').datetimepicker({
				language: 'ru',
				format: 'dd.mm.yyyy hh:ii',
				autoclose: true,
				minuteStep: 1
			});
		});
	</script>

{% endblock %}

{% block PageTop %}

	{% if event.id %}
		<h3 class="page-title">
			&quot;{{ event.title|e }}&quot;
			<small>событие</small>
		</h3>
	{% else %}
		<h3 class="page-title">
			Добавление события
		</h3>
	{% endif %}

	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="/office">Консоль</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="/office/calendar/events">Календарь</a>
			<i class="fa fa-angle-right"></i>
		</li>
		{% if event %}
			<li>
				<a href="/office/calendar/event{{ event.id }}">{{ event.title|e }}</a>
			</li>
		{% else %}
			<li>
				<a href="/office/calendar/event_add">Добавление события</a>
			</li>
		{% endif %}
	</ul>

	{{ parent() }}

{% endblock %}

{% block PageContent %}

	<form class="form-horizontal form-row-seperated" method="post" enctype="multipart/form-data" name="form-edit">
		{% if event %}
			<input type="hidden" name="eventId" value="{{ event.id }}"/>
		{% endif %}

		<div class="form-body">

			{% if app.request.get('status') == 'updated' %}
				<div class="alert alert-success">
					<i class="fa fa-check"></i>
					<strong>Персона обновлена</strong>
				</div>
			{% endif %}

			{% if app.request.get('status') == 'created' %}
				<div class="alert alert-success">
					<i class="fa fa-check"></i>
					<strong>Персона создана</strong>
				</div>
			{% endif %}


			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Событие
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="form-group last">
						<label class="control-label col-md-3">Название: <span class="required">*</span></label>

						<div class="col-md-9">
							<input class="form-control" name="title" required="true" type="text" value="{{ event.title|e }}"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3">Время события: <span class="required">*</span></label>

						<div class="col-md-9">
							<input class="form-control" style="width:150px;float:left;margin-right: 10px;" id="eventDate" name="eventDate" required="true" type="text" value="{{ event.eventDate|date('d.m.Y H:i')|default('now'|date('d.m.Y H:i')) }}"/>
							<input class="btn btn-info" type="button" value="поставить текущее время" data-action="set-now-date"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3">Место события:</label>

						<div class="col-md-9">
							<input class="form-control" name="place" required="true" type="text" value="{{ event.place|e }}"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3">Подробное описание события:</label>

						<div class="col-md-9">
							<textarea class="form-control ckeditor" name="content" cols="30" rows="10">{{ event.content|e }}</textarea>
							<span class="help-block"></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-actions right">

			{% if event %}

				<a href="/office/calendar/event{{ event.id }}/remove" class="btn btn-m btn-danger">Удалить событие</a>
				<button class="btn btn-m btn-success" type="submit">Обновить событие&nbsp;<i class="fa fa-check"></i></button>

			{% else %}

				{#<button class="btn btn-m btn-info" type="button" data-action="submit-just-save">Создать опрос</button>#}
				<button class="btn btn-m btn-success" type="submit">Добавить событие&nbsp;<i class="fa fa-check"></i></button>

			{% endif %}
		</div>
	</form>

{% endblock %}