{% extends '/news/PostGeneric.twig' %}

{% block HeadEnd %}

	<style type="text/css">
		.ui-state-highlight { height: 45px; border: 3px dashed #aaa; background: #ccc; }
	</style>

{% endblock %}

{% block BodyEnd %}

	{% raw %}
	<script id="tmpl-main-image-box" type="x-tmpl-mustache">
		<div class="note note-info">
			<p><strong>Размеры (ширина)</strong>:<br/>
			* В списках - 590px<br/>
			* Полная новость - 620px<br/>
			* Fashion Battle - 460px (на главной странице)<br/>
			* Главная страница - 620px
		</div>
		<div class="well well-lg">
			<input type="hidden" name="mainImageId" value="{{ mainImageId }}" />

			{{ #sizeAlert }}
				<div class="alert alert-danger">
					<p><i class="fa fa-times"></i>&nbsp;<strong>Ширина загруженного изображения меньше 620px</strong>.
					<p><i class="fa fa-times"></i>&nbsp;<strong>Функция "обрезания" недоступна</strong>.
					<p><i class="fa fa-times"></i>&nbsp;<strong>Функция "режим увеличения" недоступна</strong>.
					<p><i class="fa fa-times"></i>&nbsp;<strong>Эта новость не будет показана в блоке top-корн на главной странице</strong>.
					<p>Использование этой фотографии может привести к ужасному виду на страницах сайта.
					<p>Лучше всего найти фотку большего размера.
				</div>
			{{ /sizeAlert }}

			<div style="float:left;margin-right:20px;">
				<a href="{{ url }}" data-full-width="{{ width }}" class="thumbnail" id="main-image-preview"><img src="{{ thumbUrl }}" width="300"/></a>
			</div>

			<p>
				Размер: <strong>{{ width }}x{{ height }}</strong>
				{{ #sizeAlert }}
					<i class="fa fa-times" style="color:red;"></i>
				{{ /sizeAlert }}
				{{ ^sizeAlert }}
					<i class="fa fa-check" style="color:green;"></i>
				{{ /sizeAlert }}
			</p>
			<p><input type="button" class="btn btn-danger" data-action="remove-main-image" value="выбрать другое фото" /></p>
			{{ ^sizeAlert }}
				<p><input type="button" class="btn btn-info" data-action="crop-main-image" value="обрезать" /></p>
				<p>
					<select name="mainImageZoom" class="form-control" style="width:220px;">
						<option value="">Режим увеличения</option>
						<option value="zoom">ВКЛючить увеличение</option>
						<option value="">ВЫКЛючить увеличение</option>

					</select>
				</p>
			{{ /sizeAlert }}
			<div style="clear:both;"></div>
		</div>
	</script>

	<script id="tmpl-image-box" type="x-tmpl-mustache">
		<div class="form-group last" data-element="image">
			<input type="hidden" name="images[]" value="{{ imageId }}"/>
			<label class="control-label col-md-1">&nbsp;</label>
			<div class="col-md-10">

				<div style="float:left;margin-right: 20px;">
					<a href="{{ url }}" class="thumbnail">
						<img src="{{ thumbUrl }}" alt=""/>
					</a>
				</div>
				<div style="float:left;">
					<p><input class="form-control" style="width:450px;" name="imagesTitle[{{ imageId }}]" type="text" placeholder="Название фото" value="{{ title }}"/></p>
					<p><input class="form-control" style="width:450px;" name="imagesCaption[{{ imageId }}]" type="text" placeholder="Подпись к фото" value="{{ caption }}"/></p>
					<p><input class="btn btn-danger" type="button" value="убрать" data-action="remove-image"/></p>
				</div>

				<div style="clear:both;"></div>
			</div>
		</div>
	</script>

	<script id="tmpl-poll-answer" type="x-tmpl-mustache">
		<div class="form-group last">
			<label class="control-label col-md-3">Ответ: <span class="required">*</span></label>
			<div class="col-md-9">
				<div class="input-group input-xlarge">
					<input name="opinion[]" class="form-control" type="text" required="true" placeholder="Вариант ответа"/>
					<span class="input-group-btn">
						<button class="btn btn-info" type="button" data-action="poll-remove-answer">убрать</button>
					</span>
				</div>
			</div>
		</div>
	</script>
	{% endraw %}


	<script id="tmpl-fashion-battle" type="x-tmpl-mustache">

	</script>

	{#Fashion Battle#}
	<script type="text/javascript">
		$(function () {
			//Добавляем fashion battle к новости

			var fashionBattle = {
				fbBlock: null,
				fbButtons: null,
				fbAddButton: null,
				fbRemoveButton: null,

				checkParent: function(){


					if (this.fbBlock == null){
						this.fbBlock = $('div[data-element=fashion-battle]');
					}

					if (this.fbButtons == null){
						this.fbButtons = $('div[data-element=fashion-battle-buttons]');
					}

					if (this.fbAddButton == null){
						this.fbAddButton = $('input[data-action=add-fb]');
					}

					if (this.fbRemoveButton == null){
						this.fbRemoveButton = $('input[data-action=remove-fb]');
					}

				},
				handler: function(){
					this.checkParent();
					var $this = this;

					$this.fbAddButton.removeClass('hide');

					$this.fbAddButton.on('click',function(){
						$this.activate('new');
					});

					$this.fbRemoveButton.on('click',function(){
						$this.deactivate();
					});
				},
				activate: function(value){
					this.checkParent();

					this.fbBlock.find('input[name=fashionBattle]').val(value);

					this.fbBlock.removeClass('hide');
					this.fbAddButton.addClass('hide');
					this.fbRemoveButton.removeClass('hide');
				},
				hideButtons: function(){
					this.fbAddButton.addClass('hide');
					this.fbRemoveButton.addClass('hide');
				},
				deactivate: function(){
					this.checkParent();

					this.fbBlock.find('input[name=fashionBattle]').val(0);
					this.fbBlock.addClass('hide');
					this.fbAddButton.removeClass('hide');
					this.fbRemoveButton.addClass('hide');
				}
			};

			fashionBattle.handler();

			{% if post.id %}
				{% if not post.fashionBattle.id %}
					fashionBattle.hideButtons();
				{% elseif post.fashionBattle %}
					fashionBattle.activate({{ post.fashionBattle.id }});
					fashionBattle.hideButtons();
				{% endif %}
			{% endif %}

		})
	</script>

	{#Приложенные фотки#}
	<script type="text/javascript">
		$(function () {
			var images = {
				handler: function(){

					$this = this;

					var uploaderImages = new plupload.Uploader({
						runtimes: 'html5,flash,silverlight,html4',
						browse_button: 'add-images',
						max_file_size: '10mb',
						unique_names: true,
						max_file_count: 1,

						multipart_params : {
							'resize' : '200x'
						},

						url: "/office/ajax/upload-attach",

						flash_swf_url: '/office/assets/plugins/plupload-2.1.1/js/Moxie.swf',
						silverlight_xap_url: '/office/assets/plugins/plupload-2.1.1/js/Moxie.xap',

						filters: [
							{title: "Фотографии", extensions: "jpg,jpeg,gif,png"}
						],

						init: {
							PostInit: function () {

							},
							UploadComplete: function (up, files) {
								$this.addSortingDragAndDrop();
							},
							BeforeUpload: function (up, file) {
							},
							FilesAdded: function (up, files) {
								up.start();
							},
							FileUploaded: function (upldir, file, object) {

								var data = $.parseJSON(object.response);

								$this.addImage({
									imageId: data.id,
									url: data.url,
									thumbUrl: data.thumb.url,
									title: '',
									caption: ''
								});

							},

							UploadProgress: function (up, file) {

							},

							Error: function (up, err) {

							}
						}

					});
					uploaderImages.init();

					this.applyRemoveAbility();
				},
				addImage: function(params){
					var $html = Mustache.render($('#tmpl-image-box').html(),params);

					$('#add-images').closest('.form-group').before($html);
				},
				applyRemoveAbility: function(){
					//Событие на кнопку убрать у приложенных фотографий
					$('body').on('click','input[data-action=remove-image]',function(){
						var $formGroup = $(this).closest('.form-group');
						$formGroup.fadeOut('fast',function(){
							$(this).remove();
						});
					});
				},
				addSortingDragAndDrop: function(){
					$('div[data-element=post-images]').sortable({
						placeholder: 'ui-state-highlight',

						axis : 'y',
						items : 'div[data-element=image]',
						handle: 'img',
						opacity : 0.2,
						cursor: 'move',
						stop : function(event,ui)
						{

						}
					});
				}
			};

			images.handler();

			{% if post.images %}
				{% for image in post.images %}

					images.addImage({
						imageId: {{ image.id }},
						url: '{{ image.url }}',
						thumbUrl: '{{ image.thumb('200x').url }}',
						title: '{{ image.title|e }}',
						caption: '{{ image.description|e }}'
					});

				{% endfor %}

				images.addSortingDragAndDrop();

			{% endif %}
		})
	</script>

	<script type="text/javascript">

		$(function(){

			var jcropApi;

			var resetMainImage = function(params){

				if (params.width < 620){
					params['sizeAlert'] = 1;
				}

				var $html = Mustache.render($('#tmpl-main-image-box').html(),params);

				var $id = $('#main-image-uploader');

				var $parent = $id.closest('.col-md-9').find('.help-block');
				$parent.html($html);

				$id.hide();
			};

			//Показываем фотку с возможностью обрезания
			$('body').on('click','input[data-action=crop-main-image]',function(){

				var $imagePreview = $('#main-image-preview');

				var $fullSrc = $imagePreview.attr('href');
				var $fullWidth = $imagePreview.attr('data-full-width');

				$('#modal-crop .modal-body .main-image-crop').html(sprintf('<img src="%s" id="main-image-crop" />',$fullSrc));

				var handlerWriteCoords = function(c){
					$('#modal-crop input[name=cropCoords]').val(sprintf('%u,%u,%u,%u,%u,%u', c.x, c.y, c.x2, c.y2, c.w, c.h));
				};

				$('#main-image-crop').Jcrop({
					boxWidth: 560,
					aspectRatio: 62/40,
					minSize: [620,0],
					setSelect: [0,0,620,0],
					onSelect: handlerWriteCoords,
					onChange: handlerWriteCoords,
					bgOpacity: 0.2
				},function(){
					jcropApi = this;
					$('#modal-crop').modal('show');
				});


			});

			//Подтверждение обрезания
			$('button[data-action=confirm-crop]').on('click',function(){

				var params = {
					'imageId': $('input[name=mainImageId]').val(),
					'coords': $('#modal-crop input[name=cropCoords]').val()
				};

				var handler = function(response){

					var params = {
						mainImageId: response.id,
						width: response.width,
						height: response.height,
						thumbUrl: response.url,
						url: response.url
					};

					resetMainImage(params);

					$('form[name=form-edit]').prepend('<input type="hidden" name="cropped" value="1" />');

					$('#modal-crop').modal('hide');
				};

				$.post('/office/ajax/crop',params,handler,'json');
			});

			$('button[data-action=jcrop-select-all-width]').on('click',function(){

				var $width = $('#main-image-preview').attr('data-full-width');

				jcropApi.setOptions({aspectRatio: 62/40});
				jcropApi.setSelect([0,0,$width,0]);

			});

			$('button[data-action=jcrop-select-default]').on('click',function(){

				jcropApi.setOptions({aspectRatio: 62/40});
				jcropApi.setSelect([0,0,620,0]);

			});

			$('button[data-action=jcrop-select-fashion-battle]').on('click',function(){

				jcropApi.setOptions({aspectRatio: 460/636});
				jcropApi.setSelect([0,0,620,0]);

			});

			//Событие на кнопку "выбрать другое фото" у основного фото
			$('body').on('click','input[data-action=remove-main-image]',function(){
				$(this).closest('.col-md-9').find('.help-block').html('');

				$('#main-image-uploader').show().click();
			});

			//Включить опрос в новости
			$('input[data-action=add-poll]').on('click',function(){
				$('div[data-element=poll]')
					  .removeClass('hide')
					  .prepend('<p><input type="button" class="btn btn-danger" value="убрать опрос" data-action="poll-remove" />')

				$(this).hide();
			});

			//Убрать опрос
			$('body').on('click','input[data-action=poll-remove]',function(){
				$('div[data-element=poll]').addClass('hide');
				$('input[data-action=poll-remove]').remove();
				$('input[data-action=add-poll]').show();
			});

			//Добавить вариант ответа к опросу
			$('a[data-action=poll-add-answer]').on('click', function () {

				var $html = Mustache.render($('#tmpl-poll-answer').html());

				$('#poll-question').after($html);

				return false;
			});

			//Удалить вариант ответа
			$('body').on('click','button[data-action=poll-remove-answer]',function(){
				$(this).closest('.form-group').remove();
			});

			$('#postDate').datetimepicker({
				language: 'ru',
				format: 'dd.mm.yyyy hh:ii',
				autoclose: true,
				minuteStep: 1
			});

			//Поставить сегодняшнее время и дату
			$('body').on('click','input[data-action=set-now-date]',function(){

				var currentDate = new Date();

				var $date = sprintf('%02u.%02u.%04u %02u:%02u',
					currentDate.getDate(),
					currentDate.getMonth()+1,
					currentDate.getFullYear(),
				    currentDate.getHours(),
				    currentDate.getMinutes()
				);
				$('#postDate').val($date);
			});

			var articles = [
				{id:1,text:'Звезды'},
				{id:2,text:'Мода'},
				{id:3,text:'Красота'},
				{id:4,text:'Кино'},
				{id:5,text:'Тв и сериалы'},
				{id:6,text:'Музыка'},
				{id:7,text:'Гаджеты'}
			];

			var getArticle = function(articleId){

				for (x in articles){
					if (articles[x].id == articleId){
						return articles[x].text;
					}
				}

			};

			$('input[name=articles]').select2({
				data: articles,
				width: '480px',
				multiple: true,
				placeholder: "Начни вводить название рубрики...",
				initSelection: function (element, callback) {

					{% if tags.articles|length %}

						var data = [];

						{% for tag in tags.articles %}
							  data.push({'id': {{ tag.id }}, 'text': '{{ tag.name|e }}'});
						{% endfor %}

						callback(data);
				    {% endif %}
				}
			});

			$('input[name=tags]').select2({
				width: '480px',
				multiple: true,
				placeholder: "Начни вводить название тега...",
				initSelection: function (element, callback) {

					{% if tags.events|length %}

					var data = [];

					{% for tag in tags.events %}
						data.push({'id': {{ tag.id }}, 'text': '{{ tag.name|e }}'});
					{% endfor %}

					callback(data);
					{% endif %}
				},
				ajax: {
					url: '/office/ajax/post/tags',
					dataType: 'json',
					data: function (term) {
						return {
							term: term
						};
					},
					results: function (data) {
						return {
							results: data.tags
						};
					}
				}
			});

			$('input[name=persons]').select2({
				width: '480px',
				multiple: true,
				placeholder: "Начни вводить имя персоны...",
				initSelection: function (element, callback) {
					{% if tags.persons|length %}

					var data = [];

					{% for person in tags.persons %}
						data.push({'id': {{ person.id }}, 'text': '{{ person.name|e }}'});
					{% endfor %}

					callback(data);
					{% endif %}
				},
				ajax: {
					url: '/office/ajax/post/persons',
					dataType: 'json',
					data: function (term) {
						return {
							term: term
						};
					},
					results: function (data) {
						return {
							results: data.persons
						};
					}
				}
			});

			$('input[name=movies]').select2({
				width: '480px',
				multiple: true,
				placeholder: "Начни вводить название фильма...",
				initSelection: function (element, callback) {
					{% if tags.movies|length %}

					var data = [];

					{% for movie in tags.movies %}
						data.push({'id': {{ movie.id }}, 'text': '{{ movie.name }}'});
					{% endfor %}

					callback(data);
					{% endif %}
				},
				ajax: {
					url: '/office/ajax/find/movies',
					dataType: 'json',
					data: function (term,page) {
						return {
							term: term
						};
					},
					results: function (data) {
						var results = [];
						$.each(data.movies, function (index, film) {
							results.push({
								id: film.id,
								text: sprintf('%s / %u',film.name,film.year)
							});
						});
						return {
							results: results
						};
					}
				}
			});

			//Основное изображение
			var uploaderMainImage = new plupload.Uploader({
				runtimes: 'html5,flash,silverlight,html4',
				browse_button: 'main-image-uploader',
				max_file_size: '10mb',
				unique_names: true,
				max_file_count: 1,
				multi_selection: false,
				multi: false,

				multipart_params : {
					'resize' : '300x'
				},

				url: "/office/ajax/upload-attach",

				flash_swf_url: '/office/assets/plugins/plupload-2.1.1/js/Moxie.swf',
				silverlight_xap_url: '/office/assets/plugins/plupload-2.1.1/js/Moxie.xap',

				filters: [
					{title: "Фотографии", extensions: "jpg,jpeg,gif,png"}
				],

				init: {
					PostInit: function () {

					},
					UploadComplete: function (up, files) {

					},
					BeforeUpload: function (up, file) {
						$('#main-image-uploader').closest('.col-md-9').find('.help-block').html('Ждите...');
					},

					FilesAdded: function (up, files) {
						up.start();
					},
					FileUploaded: function (upldir, file, object) {

						var data = $.parseJSON(object.response);

						var params = {
							mainImageId: data.id,
							width: data.width,
							height: data.height,
							thumbUrl: data.thumb.url,
							url: data.url
						};

						resetMainImage(params);

					},

					UploadProgress: function (up, file) {

					},

					Error: function (up, err) {

					}
				}

			});
			uploaderMainImage.init();



			{% if post.mainImageId %}

				resetMainImage({
					mainImageId: {{ post.mainImageId.id }},
					width: {{ post.mainImageId.width }},
					height: {{ post.mainImageId.height }},
					thumbUrl: '{{ post.mainImageId.url }}',
					url: '{{ post.mainImageId.url }}'
				});

			{% endif %}


		});

	</script>

{% endblock %}

{% block PageTop %}

	{% if post.id %}
		<h3 class="page-title">
			&quot;{{ post.name|e }}&quot;
			<small>Новость</small>
		</h3>
	{% else %}
		<h3 class="page-title">
			Добавление новости
		</h3>
	{% endif %}

	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="/office">Консоль</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="/office/posts">Новости</a>
			<i class="fa fa-angle-right"></i>
		</li>
		{% if post.id %}
			<li>
				<a href="/office/post{{ post.id }}">{{ post.name|e }}</a>
			</li>
		{% else %}
			<li>
				<a href="/office/post_create">Добавление новости</a>
			</li>
		{% endif %}
	</ul>

	{{ parent() }}

{% endblock %}

{% block PageContent %}

	<div class="modal fade" id="modal-crop" role="basic" aria-hidden="true" data-backdrop="static">
		<input name="cropCoords" type="hidden"/>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="main-image-crop">

					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-info" aria-hidden="true" data-action="jcrop-select-all-width">Подогнать под ширину</button>
					<button class="btn btn-info" aria-hidden="true" data-action="jcrop-select-default">Выбрать минимальный &quot;кусок&quot;</button>
					<br/><br/>
					<button class="btn btn-info" aria-hidden="true" data-action="jcrop-select-fashion-battle">Выбрать кусок для fashion battle</button>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Отмена</button>
					<button class="btn btn-success" data-action="confirm-crop">Сделать обрезание&nbsp;<i class="fa fa-check"></i></button>
				</div>
			</div>
		</div>
	</div>


	<form class="form-horizontal form-row-seperated" method="post" enctype="multipart/form-data" name="form-edit">
		{% if post.id %}
			<input type="hidden" name="postId" value="{{ post.id }}"/>
		{% endif %}

		<div class="form-body">

			{% if app.request.get('status') == 'updated' %}
				<div class="alert alert-success">
					<i class="fa fa-check"></i>
					<strong>Новость обновлена</strong>
				</div>
			{% endif %}

			{% if app.request.get('status') == 'created' %}
				<div class="alert alert-success">
					<i class="fa fa-check"></i>
					<strong>Новость создана</strong>
				</div>
			{% endif %}

			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Главное
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="form-group">
						<label class="control-label col-md-3">Заголовок новости: <span class="required">*</span></label>

						<div class="col-md-9">
							<textarea class="form-control" name="name" required="true" id="" cols="30" rows="2">{{ post.name|e }}</textarea>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group">
						<div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							<p>Указав дату публикации в <strong>будущем времени</strong>, новость будет опубликована <strong>при наступлении</strong> указанной дате и времени</p>
							<p>Очень удобно для публикации новостей в выходные или каких-то анонсов</p>
							<p>Реальная дата публикации может отличаться от указанной максимум на 5 минут</p>
						</div>

						<label class="control-label col-md-3">Дата публикации: <span class="required">*</span></label>

						<div class="col-md-9">
							<input class="form-control" style="width:150px;float:left;margin-right: 10px;" id="postDate" name="createDate" required="true" type="text" value="{{ post.createDate|date('d.m.Y H:i')|default('now'|date('d.m.Y H:i')) }}"/>
							<input class="btn btn-info" type="button" value="поставить текущее время" data-action="set-now-date"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group">
						<div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							<p>Если дата публикации в будущем времени, статус автоматически станет "Запланировано"</p>
						</div>

						<label class="control-label col-md-3">Статус новости:</label>

						{% set selected = 1 %}

						{% if post.id %}

							{% if post.status == constant('popcorn\\model\\posts\\NewsPost::STATUS_NOT_PUBLISHED') %}
								{% set selected = 0 %}
							{% endif %}

							{% if post.status == constant('popcorn\\model\\posts\\NewsPost::STATUS_PUBLISHED') %}
								{% set selected = 1 %}
							{% endif %}

							{% if post.status == constant('popcorn\\model\\posts\\NewsPost::STATUS_PLANNED') %}
								{% set selected = 1 %}
							{% endif %}
						{% endif %}

						<div class="col-md-9">
							<select class="form-control" name="status">
								<option value="0" {% if selected == 0 %}selected{% endif %}>Не публиковать</option>
								<option value="1" {% if selected == 1 %}selected{% endif %}>Публиковать</option>
								<option value="2" {% if selected == 2 %}selected{% endif %}>Запланировано</option>
							</select>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3">Основное фото: <span class="required">*</span></label>

						<div class="col-md-9">
							<input type="button" class="btn btn-info" id="main-image-uploader" value="загрузить фото"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3">Анонс (для списков или, если, новость короткая):</label>

						<div class="col-md-9">
							<textarea class="form-control ckeditor" name="announce" cols="30" rows="10">{{ post.announce|e }}</textarea>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3">Подробное описание новости:</label>

						<div class="col-md-9">
							<textarea class="form-control ckeditor" name="content" cols="30" rows="10">{{ post.content|e }}</textarea>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Источник новости:</label>

						<div class="col-md-9">
							<input class="form-control input-xlarge" name="source" type="text" value="{{ post.source|e }}"/>
							<span class="help-block"></span>
						</div>
					</div>

				</div>
			</div>

			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Опции
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">

					<div class="form-group last">
						<label class="control-label col-md-3">Выгружать в RSS:</label>

						<div class="col-md-9">
							<select class="form-control" name="rssPosting">
								<option value="">НЕ выгружать в RSS</option>
								<option value="1"{% if post.uploadRSS == 1 %}selected{% endif %}>Выгружать в RSS</option>
							</select>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Комментарии:</label>

						<div class="col-md-9">
							<select class="form-control" name="commentsOff">
								<option value="">ВКЛючить комментарии</option>
								<option value="1"{% if post.allowComment == 1 %}selected="" {% endif %}>ВЫКЛючить комментарии</option>
							</select>
							<span class="help-block"></span>
						</div>
					</div>

				</div>
			</div>

			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Теги
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">

					<div class="form-group last">
						<label class="control-label col-md-3">Рубрики: <span class="required">*</span></label>

						<div class="col-md-9">
							<input type="hidden" name="articles" value="{{ tags.articlesString|join(';') }}"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Теги:</label>

						<div class="col-md-9">
							<input type="hidden" name="tags" value="{{ tags.eventsString|join(';') }}"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Персоны:</label>

						<div class="col-md-9">
							<input type="hidden" name="persons" value="{{ tags.personsString|join(';') }}"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Фильмы:</label>

						<div class="col-md-9">
							<input type="hidden" name="movies" value="{{ tags.moviesString|join(';') }}"/>
							<span class="help-block"></span>
						</div>
					</div>

				</div>
			</div>

			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Фотографии
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body" data-element="post-images">

					<div class="alert alert-info alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
						Можно выбирать сразу много фотографий. Просто выдели мышью сколько захочешь.
					</div>

					<div class="alert alert-info alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
						Фотографии можно сортировать. Наведи курсор на фото, зажми и перетаскивай вверх-вниз меняя последовательность
					</div>

					<div class="form-group last">
						<label class="control-label col-md-2">&nbsp;</label>
						<div class="col-md-9 right">
							<input type="button" class="btn btn-info btn-s" id="add-images" value="добавить фотографии"/>
						</div>
					</div>

					<div class="clearfix"></div>

				</div>
			</div>

			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Fashion Battle
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">

					{% if post.id and not post.fashionBattle %}
						<div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							В существующую новость нельзя добавить Fashion Battle
						</div>
					{% else %}
						<div class="alert alert-info alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							Блок Fashion Battle <strong>нельзя редактировать</strong> и <strong>нельзя удалить</strong>
						</div>
					{% endif %}

					<div class="hide" data-element="fashion-battle">
						<input type="hidden" name="fashionBattle" value="0" />

						<div class="form-group last">
							<label class="control-label col-md-3">#1 вариант: <span class="required">*</span></label>
							<div class="col-md-9 right">
								<input type="text" class="form-control" {% if post.fashionBattle %}readonly="true"{% endif %} name="fbFirstOption" value="{{ post.fashionBattle.firstOption }}"/>
							</div>
						</div>

						<div class="form-group last">
							<label class="control-label col-md-3">#2 вариант: <span class="required">*</span></label>
							<div class="col-md-9 right">
								<input type="text" class="form-control" {% if post.fashionBattle %}readonly="true"{% endif %} name="fbSecondOption" value="{{ post.fashionBattle.secondOption }}"/>
							</div>
						</div>
					</div>


					<div class="form-group last" data-element="fashion-battle-buttons">
						<label class="control-label col-md-2">&nbsp;</label>
						<div class="col-md-9 right">
							<input type="button" class="btn btn-info hide" value="добавить fashion battle" data-action="add-fb" />
							<input type="button" class="btn btn-danger hide" value="убрать fashion battle" data-action="remove-fb" />
						</div>
					</div>

				</div>
			</div>



			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Опрос
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">

					<div class="hide" data-element="poll">

						<div class="form-group last" id="poll-question">
							<label class="control-label col-md-3">Вопрос: <span class="required">*</span></label>
							<div class="col-md-9 right">
								<input class="form-control input-xlarge" name="poll_question" type="text" placeholder="Что хочешь спросить?"/>
							</div>
						</div>

						<div class="form-group last">
							<label class="control-label col-md-3">&nbsp;</label>
							<div class="col-md-9 right">
								<a class="btn btn-info btn-s" href="#" data-action="poll-add-answer">добавить ответ</a>
							</div>
						</div>
					</div>


					<div class="form-group last">
						<label class="control-label col-md-2">&nbsp;</label>
						<div class="col-md-9 right">
							<input type="button" class="btn btn-info" value="добавить опрос" data-action="add-poll" />
						</div>
					</div>


				</div>
			</div>
		</div>

		<div class="form-actions right">

			{% if post %}

				<button class="btn btn-m btn-danger" type="button" data-action="poll-remove">Удалить новость</button>
				<button class="btn btn-m btn-success" type="submit">Обновить новость&nbsp;<i class="fa fa-check"></i></button>

			{% else %}

				{#<button class="btn btn-m btn-info" type="button" data-action="submit-just-save">Создать опрос</button>#}
				<button class="btn btn-m btn-success" type="submit">Создать новость&nbsp;<i class="fa fa-check"></i></button>

			{% endif %}
		</div>
	</form>

{% endblock %}