{% extends '/Generic.twig' %}
{% import '/Mixins.twig' as html %}

{% block HeadEnd %}

	<style type="text/css">
		.table-items a {
			font-size: 13px;
		}

		.table-items .item-link a {
			font-size: 13px;
			height:auto;
			width:auto;
			white-space:pre-wrap;
			text-align: left;
		}

		.table-items .item-date {
			white-space: nowrap;
			font-size: 13px;
		}

		.table-items .stat .progress {
			margin-bottom: 5px;
		}

		.table-items .stat .progress-bar strong {
			padding-left: 5px;
		}

		.table-items .stat .label {
			margin-right: 5px;
		}
	</style>

{% endblock %}

{% block BodyEnd %}

	<script type="text/javascript">
		$(function () {

			var removePostCandidateId = null;

			$('button[data-action=confirm-remove]').on('click', function () {

				var params = {
					entityId: removePostCandidateId
				};

				var handler = function(response){
					if (response.status == 'success'){

						var $tr = $('tr[data-post-id='+removePostCandidateId+']');

						$('#modal-remove').modal('hide');
					}
				};

				$.post('/office/ajax/post/remove',params,handler,'json');

			});

			$('a[data-action=remove-post]').on('click', function () {
				removePostCandidateId = $(this).closest('tr').attr('data-post-id');
			});
		});
	</script>

	<script type="text/javascript">
		$(function () {
			$('#spinner-comments-count').spinner({value:0, step: 1, min: 0, max: 200});
		})
	</script>

{% endblock %}

{% block PageTop %}

	<h3 class="page-title">
		Список новостей
		<small>просмотр сводной информации</small>
	</h3>

	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="/office">Консоль</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="/office/posts">Новости</a>
			<i class="fa"></i>
		</li>
	</ul>

{% endblock %}

{% block PageContent %}

	<div id="modal-remove" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
	     aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">Вы ТОЧНО хотите удалить новость?</h4>
				</div>
				<div class="modal-body">
					<p><strong>Удаление новости приведет к</strong>:</p>
					<ul>
						<li>удалению комментариев</li>
						<li>удалению фотографий</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Отмена</button>
					<button class="btn btn-danger" data-dismiss="modal" data-action="confirm-remove">Подтверждаю
						удаление
					</button>
				</div>
			</div>
		</div>
	</div>

	{% if posts|length %}

		<div style="float:left;margin-top:17px;">
			<a class="btn btn-success" href="/office/post_create"><i class="fa fa-plus" style="position:relative;top:1px;padding-right: 10px;"></i>добавить новость</a>
		</div>

		<div style="float: right;">
			{{ html.paginator(paginator.pages,paginator.active,'/office/posts/page%u') }}
		</div>

		<div class="clearfix"></div>

		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>Фильтровать по
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body">

				<div class="form-group">
					<label class="control-label col-md-3" style="padding-top:7px;">статусу:</label>

					<div class="col-md-9">
						<select class="form-control" name="" id="">
							<option value="">Все новости</option>
							<option value="0">Неопубликованные новости</option>
							<option value="1">Опубликованные новости</option>
							<option value="2">Запланированные новости</option>
						</select>
						<span class="help-block"></span>
					</div>
				</div>


				<div class="form-group">
					<label class="control-label col-md-3" style="padding-top:7px;">кол-ву комментов:</label>

					<div class="col-md-9">
						<select class="form-control input-small" id="filter-comments" style="float: left;margin-right: 10px;">
							<option value="">не важно</option>
							<option value="0">меньше</option>
							<option value="1">равно</option>
							<option value="2">больше</option>
						</select>

						<div id="spinner-comments-count" class="hide">
							<div class="input-group input-small">
								<input type="text" class="spinner-input form-control" maxlength="3" readonly>
								<div class="spinner-buttons input-group-btn btn-group-vertical">
									<button type="button" class="btn spinner-up btn-xs btn-info">
										<i class="fa fa-angle-up"></i>
									</button>
									<button type="button" class="btn spinner-down btn-xs btn-info">
										<i class="fa fa-angle-down"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="clearfix"></div>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-hover table-items">
				<thead>
					<tr>
						<th></th>
						<th>Дата публикации</th>
						<th></th>
						<th></th>
						<th>Заголовок новости</th>
					</tr>
				</thead>
				<tbody>
				{% for post in posts %}
					<tr data-post-id="{{ post.id }}">
						<td style="white-space: nowrap;">
							<a class="btn btn-default btn-xs tooltips" data-original-title="Редактировать новость"
							   data-placement="top" href="/office/post{{ post.id }}"><i class="fa fa-edit"></i></a>
							<a class="btn btn-danger btn-xs tooltips" data-original-title="Удалить новость"
							   data-placement="top" role="button" data-toggle="modal" data-action="remove-post"
							   href="#modal-remove"><i class="fa fa-trash-o"></i></a>
						</td>
						<td class="item-date">{{ post.createDate|ruDate('j.m.Y H:i') }}</td>
						<td>
							{% if post.status == constant('popcorn\\model\\posts\\NewsPost::STATUS_PUBLISHED') %}
								<span style="width:30px;" class="btn btn-xs btn-success tooltips" data-original-title="Новость опубликована" data-placement="top"><i class="fa fa-check"></i></span>
							{% elseif post.status == constant('popcorn\\model\\posts\\NewsPost::STATUS_NOT_PUBLISHED') %}
								<span style="width:30px;" class="btn btn-xs btn-danger tooltips" data-original-title="Новость неопубликована" data-placement="top"><i class="fa fa-times"></i></span>
							{% elseif post.status == constant('popcorn\\model\\posts\\NewsPost::STATUS_PLANNED') %}
								<span style="width:30px;" class="btn btn-xs btn-warning tooltips" data-original-title="Новость запланирована" data-placement="top"><i class="fa fa-calendar"></i></span>
							{% endif %}
						</td>
						<td><a class="btn btn-info tooltips" data-original-title="{{ post.comments|ruNumber(['нет комментарий','%u комментарий','%u комментария','%u комментариев']) }}" href="/office/post{{ post.id }}/comments">{{ post.comments }}</a></td>
						{% if post.status == constant('popcorn\\model\\posts\\NewsPost::STATUS_PLANNED') %}
							<td class="item-link"><a class="btn btn-warning tooltips" data-original-title="Новость запланирована" data-placement="top" href="/office/post{{ post.id }}">{{ post.name|e }}</a></td>
						{% elseif post.status == constant('popcorn\\model\\posts\\NewsPost::STATUS_NOT_PUBLISHED') %}
							<td class="item-link"><a class="btn btn-danger tooltips" data-original-title="Новость неопубликована" data-placement="top" href="/office/post{{ post.id }}">{{ post.name|e }}</a></td>
						{% else %}
							<td class="item-link"><a class="btn btn-default" href="/office/post{{ post.id }}">{{ post.name|e }}</a></td>
						{% endif %}

					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div style="float:left;margin-top:17px;">
			<a class="btn btn-success" href="/office/post_create"><i class="fa fa-plus" style="position:relative;top:1px;padding-right: 10px;"></i>добавить новость</a>
		</div>

		<div style="float: right;">
			{{ html.paginator(paginator.pages,paginator.active,'/office/posts/page%u') }}
		</div>

		<div class="clearfix"></div>

	{% else %}

		<div class="note note-info">
			<h4 class="note-heading">Пока не создано ни одной новости</h4>
			<p>
				<a class="btn btn-success" href="/office/post_create">Создать новость</a>
			</p>
		</div>

	{% endif %}

{% endblock %}