{% extends '/Generic.twig' %}

{% block BodyEnd %}

	{% raw %}
	<script id="tmpl-main-image-box" type="x-tmpl-mustache">
		<div class="note note-info">
			<p><strong>Размеры (ширина)</strong>:<br/>
			* В списках - 430px<br/>
			* Полная новость - 500px<br/>
			* Главная страница - 620px
		</div>
		<div class="well well-lg">
			<input type="hidden" name="mainImageId" value="{{ mainImageId }}" />

			{{ #sizeAlert }}
				<div class="alert alert-danger">
					<p><i class="fa fa-times"></i>&nbsp;<strong>Ширина загруженного изображения меньше 620px</strong>.
					<p><i class="fa fa-times"></i>&nbsp;<strong>Функция "обрезания" недоступна</strong>.
					<p>Использование этой фотографии может привести к ужасному виду на страницах сайта.
					<p>Лучше всего найти фотку большего размера.
				</div>
			{{ /sizeAlert }}

			<div style="float:left;margin-right:20px;">
				<a href="{{ url }}" data-full-width="{{ width }}" class="thumbnail" id="main-image-preview"><img src="{{ thumbUrl }}"/></a>
			</div>

			<p>
				Размер: <strong>{{ width }}x{{ height }}</strong>
				{{ #sizeAlert }}
					<i class="fa fa-times" style="color:red;"></i>
				{{ /sizeAlert }}
				{{ ^sizeAlert }}
					<i class="fa fa-check" style="color:green;"></i>
				{{ /sizeAlert }}
			</p>
			{{ ^sizeAlert }}
				<p><input type="button" class="btn btn-info" data-action="crop-main-image" value="обрезать" /></p>
			{{ /sizeAlert }}
			<p><input type="button" class="btn btn-danger" data-action="remove-main-image" value="выбрать другое фото" /></p>
			<p>
				<select name="mainImageZoom" class="form-control" style="width:220px;">
					<option value="">Режим увеличения</option>
					<option value="zoom">ВКЛючить увеличение</option>
					<option value="">ВЫКЛючить увеличение</option>

				</select>
			</p>
			<div style="clear:both;"></div>
		</div>
	</script>

	<script id="tmpl-image-box" type="x-tmpl-mustache">
		<div class="form-group last" data-element="image">
			<input type="hidden" name="image[]" value="{{ imageId }}"/>
			<label class="control-label col-md-1"></label>
			<div class="col-md-10">

				<div style="float:left;margin-right: 20px;">
					<a href="{{ url }}" class="thumbnail">
						<img src="{{ thumbUrl }}" alt=""/>
					</a>
				</div>
				<div style="float:left;">
					<p><input class="form-control" style="width:450px;" name="title[{{ imageId }}]" type="text" placeholder="Название фото" value=""/></p>
					<p><input class="form-control" style="width:450px;" name="caption[{{ imageId }}]" type="text" placeholder="Подпись к фото" value=""/></p>
					<p><input class="btn btn-danger" type="button" value="убрать" data-action="remove-image"/></p>
				</div>

				<div style="clear:both;"></div>
			</div>
		</div>
	</script>

	<script id="tmpl-poll-answer" type="x-tmpl-mustache">
		<div class="form-group last">
			<label class="control-label col-md-3">Ответ: <span class="required">*</span></label>
			<div class="col-md-9">
				<div class="input-group input-xlarge">
					<input name="opinion[]" class="form-control" type="text" required="true"/>
					<span class="input-group-btn">
						<button class="btn btn-info" type="button" data-action="poll-remove-answer">убрать</button>
					</span>
				</div>
			</div>
		</div>
	</script>
	{% endraw %}

	<script type="text/javascript">

		$(function(){

			var jcropApi;

			//Событие на кнопку убрать у приложенных фотографий
			$('body').on('click','input[data-action=crop-main-image]',function(){

				var $imagePreview = $('#main-image-preview');

				var $fullSrc = $imagePreview.attr('href');
				var $fullWidth = $imagePreview.attr('data-full-width');

				$('#modal-crop .modal-body .main-image-crop').html(sprintf('<img src="%s" id="main-image-crop" />',$fullSrc));

				$('#main-image-crop').Jcrop({
					boxWidth: 560,
					aspectRatio: 62/40,
					minSize: [620,0],
					setSelect: [0,0,620,0],
					onSelect: function(){

					},
					bgOpacity: 0.2
				},function(){
					jcropApi = this;
					$('#modal-crop').modal('show');
				});


			});

			$('button[data-action=jcrop-select-all-width]').on('click',function(){

				var $width = $('#main-image-preview').attr('data-full-width');

				jcropApi.setSelect([0,0,$width,0]);

			});

			$('button[data-action=jcrop-select-default]').on('click',function(){

				jcropApi.setSelect([0,0,620,0]);

			});

			//Событие на кнопку убрать у приложенных фотографий
			$('body').on('click','input[data-action=remove-image]',function(){
				var $formGroup = $(this).closest('.form-group');
				$formGroup.fadeOut('fast',function(){
					$(this).remove();
				});
			});

			//Событие на кнопку "выбрать другое фото" у основного фото
			$('body').on('click','input[data-action=remove-main-image]',function(){
				$(this).closest('.col-md-9').find('.help-block').html('');

				$('#main-image-uploader').show().click();
			});

			//Включить опрос в новости
			$('input[data-action=add-poll]').on('click',function(){
				$('div[data-element=poll]')
					  .removeClass('hide')
					  .prepend('<p><input type="button" class="btn btn-danger" value="убрать опрос" data-action="poll-remove" />')

				$(this).hide();
			});

			//Убрать опрос
			$('body').on('click','input[data-action=poll-remove]',function(){
				$('div[data-element=poll]').addClass('hide');
				$('input[data-action=poll-remove]').remove();
				$('input[data-action=add-poll]').show();
			});

			//Добавить вариант ответа к опросу
			$('a[data-action=poll-add-answer]').on('click', function () {

				var $html = Mustache.render($('#tmpl-poll-answer').html());

				$('#poll-question').after($html);

				return false;
			});

			//Удалить вариант ответа
			$('body').on('click','button[data-action=poll-remove-answer]',function(){
				$(this).closest('.form-group').remove();
			});

			$('#postDate').datetimepicker({
				language: 'ru',
				format: 'dd.mm.yyyy hh:ii',
				autoclose: true,
				minuteStep: 1
			});

			//Поставить сегодняшнее время и дату
			$('body').on('click','input[data-action=set-now-date]',function(){

				var currentDate = new Date();

				var $date = sprintf('%02u.%02u.%04u %02u:%02u',
					currentDate.getDate(),
					currentDate.getMonth()+1,
					currentDate.getFullYear(),
				    currentDate.getHours(),
				    currentDate.getMinutes()
				);
				$('#postDate').val($date);
			});

			var articles = [
				{id:1,text:'Звезды'},
				{id:2,text:'Мода'},
				{id:3,text:'Красота'},
				{id:4,text:'Кино'},
				{id:5,text:'Тв и сериалы'},
				{id:6,text:'Музыка'},
				{id:7,text:'Гаджеты'}
			];

			var getArticle = function(articleId){

				for (x in articles){
					if (articles[x].id == articleId){
						return articles[x].text;
					}
				}

			};

			$('input[name=articles]').select2({
				data: articles,
				width: '480px',
				multiple: true,
				placeholder: "Начни вводить название рубрики...",
				initSelection: function (element, callback) {

					{% if post.tags(3)|length %}

						  var data = [];

						{% for tag in post.tags(3) %}
							  data.push({'id': {{ tag.name }}, 'text': getArticle({{ tag.name|e }})});
						{% endfor %}


						  $(element.val().split(';')).each(function () {
							  data.push({id: this, text: this});
						  });

						  callback(data);
				    {% endif %}
				}
			});

			$('input[name=tags]').select2({
				width: '480px',
				multiple: true,
				placeholder: "Начни вводить название тега...",
				initSelection: function (element, callback) {

					{% if post.tags(0)|length %}

						var data = [];

						{% for tag in post.tags(0) %}
							data.push({'id': {{ tag.id }}, 'text': '{{ tag.name|e }}'});
						{% endfor %}


						$(element.val().split(';')).each(function () {
							data.push({id: this, text: this});
						});

						callback(data);
					{% endif %}
				},
				ajax: {
					url: '/office/ajax/post/tags',
					dataType: 'json',
					data: function (term) {
						return {
							term: term
						};
					},
					results: function (data) {
						return {
							results: data.tags
						};
					}
				}
			});

			$('input[name=persons]').select2({
				width: '480px',
				multiple: true,
				placeholder: "Начни вводить имя персоны...",
				initSelection: function (element, callback) {

				},
				ajax: {
					url: '/office/ajax/post/persons',
					dataType: 'json',
					data: function (term) {
						return {
							term: term
						};
					},
					results: function (data) {
						return {
							results: data.persons
						};
					}
				}
			});

			$('input[name=movies]').select2({
				width: '480px',
				multiple: true,
				placeholder: "Начни вводить название фильма...",
				initSelection: function (element, callback) {

				},
				ajax: {
					url: 'http://api.kinoafisha.info/p/moviesSuggest.php?callback=?',
					dataType: 'jsonp',
					data: function (term,page) {
						return {
							q: term
						};
					},
					results: function (data) {

						var results = [];
						$.each(data, function (index, film) {
							results.push({
								id: film.id,
								text: sprintf('%s / %u',film.name,film.year)
							});
						});
						return {
							results: results
						};
					}
				}
			});

			//Основное изображение
			var uploaderMainImage = new plupload.Uploader({
				runtimes: 'html5,flash,silverlight,html4',
				browse_button: 'main-image-uploader',
				max_file_size: '10mb',
				unique_names: true,
				max_file_count: 1,
				multi_selection: false,
				multi: false,

				multipart_params : {
					'resize' : '300x'
				},

				url: "/office/ajax/upload-attach",

				flash_swf_url: '/office/assets/plugins/plupload-2.1.1/js/Moxie.swf',
				silverlight_xap_url: '/office/assets/plugins/plupload-2.1.1/js/Moxie.xap',

				filters: [
					{title: "Фотографии", extensions: "jpg,jpeg,gif,png"}
				],

				init: {
					PostInit: function () {

					},
					UploadComplete: function (up, files) {

					},
					BeforeUpload: function (up, file) {
						$('#main-image-uploader').closest('.col-md-9').find('.help-block').html('Ждите...');
					},

					FilesAdded: function (up, files) {
						up.start();
					},
					FileUploaded: function (upldir, file, object) {

						var data = $.parseJSON(object.response);

						var templateVars = {
							mainImageId: data.id,
							width: data.width,
							height: data.height,
							thumbUrl: data.thumb.url,
							url: data.url
						};

						if (data.width < 620){
							templateVars['sizeAlert'] = 1;
						}

						var $html = Mustache.render($('#tmpl-main-image-box').html(),templateVars);

						var $id = $('#main-image-uploader');

						var $parent = $id.closest('.col-md-9').find('.help-block');
						$parent.html($html);

						$id.hide();

					},

					UploadProgress: function (up, file) {

					},

					Error: function (up, err) {

					}
				}

			});
			uploaderMainImage.init();

			//Куча приложенных фоток
			var uploaderImages = new plupload.Uploader({
				runtimes: 'html5,flash,silverlight,html4',
				browse_button: 'add-images',
				max_file_size: '10mb',
				unique_names: true,
				max_file_count: 1,
				multi: false,

				multipart_params : {
					'resize' : '200x'
				},

				url: "/office/ajax/upload-attach",

				flash_swf_url: '/office/assets/plugins/plupload-2.1.1/js/Moxie.swf',
				silverlight_xap_url: '/office/assets/plugins/plupload-2.1.1/js/Moxie.xap',

				filters: [
					{title: "Фотографии", extensions: "jpg,jpeg,gif,png"}
				],

				init: {
					PostInit: function () {

					},
					UploadComplete: function (up, files) {
						$('div[data-element=post-images]').sortable({
							axis : 'y',
							items : 'div[data-element=image]',
							handle: 'img',
//							grid: [ 0, 30 ],
							opacity : 0.2,
							cursor: 'move',
							stop : function(event,ui)
							{

							}
						}).disableSelection();
					},
					BeforeUpload: function (up, file) {
					},
					FilesAdded: function (up, files) {
						up.start();
					},
					FileUploaded: function (upldir, file, object) {

						var data = $.parseJSON(object.response);

						var $html = Mustache.render($('#tmpl-image-box').html(),{
							imageId: data.id,
							url: data.url,
							thumbUrl: data.thumb.url
						});

						$('#add-images').closest('.form-group').before($html);

					},

					UploadProgress: function (up, file) {

					},

					Error: function (up, err) {

					}
				}

			});
			uploaderImages.init();
		});

	</script>

{% endblock %}

{% block PageTop %}

	{% if post %}
		<h3 class="page-title">
			Новость
			<small>&quot;{{ post.name|e }}&quot;</small>
		</h3>
	{% else %}
		<h3 class="page-title">
			Создание новости
		</h3>
	{% endif %}

	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="/office">Консоль</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="/office/posts">Новости</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="/office/post_create">Создание новости</a>
		</li>
	</ul>

{% endblock %}

{% block PageContent %}

	<div class="modal fade" id="modal-crop" role="basic" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="main-image-crop">

					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-info" aria-hidden="true" data-action="jcrop-select-all-width">Подогнать под ширину</button>
					<button class="btn btn-info" aria-hidden="true" data-action="jcrop-select-default">Выбрать минимальный &quot;кусок&quot;</button>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Отмена</button>
					<button class="btn btn-danger" data-action="confirm-remove">Сделать обрезание</button>
				</div>
			</div>
		</div>
	</div>


	<form class="form-horizontal form-row-seperated" method="post" enctype="multipart/form-data" name="form-edit">
		{% if post %}
			<input type="hidden" name="postId" value="{{ post.id }}"/>
		{% endif %}

		<div class="form-body">

			{% if app.request.get('status') == 'updated' %}
				<div class="alert alert-success">
					<i class="fa fa-check"></i>
					<strong>Новость обновлена</strong>
				</div>
			{% endif %}

			{% if app.request.get('status') == 'created' %}
				<div class="alert alert-success">
					<i class="fa fa-check"></i>
					<strong>Новость создана</strong>
				</div>
			{% endif %}

			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Главное
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="form-group last">
						<label class="control-label col-md-3">Заголовок новости: <span class="required">*</span></label>

						<div class="col-md-9">
							<textarea class="form-control" name="name" id="" cols="30" rows="2">{{ post.name|e }}</textarea>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Дата публикации: <span class="required">*</span></label>

						<div class="col-md-9">
							<input class="form-control" style="width:150px;float:left;margin-right: 10px;" id="postDate" name="createDate" required="true" type="text" value="{{ post.createDate|date('d.m.Y H:i')|default('now'|date('d.m.Y H:i')) }}"/>
							<input class="btn btn-info" type="button" value="поставить текущее время" data-action="set-now-date"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Основное фото: <span class="required">*</span></label>

						<div class="col-md-9">
							<input type="button" class="btn btn-info" id="main-image-uploader" value="загрузить фото"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Анонс (для списков или, если, новость короткая):</label>

						<div class="col-md-9">
							<textarea class="form-control ckeditor" name="announce" cols="30" rows="10">{{ post.announce|e }}</textarea>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Подробное описание новости:</label>

						<div class="col-md-9">
							<textarea class="form-control ckeditor" name="content" cols="30" rows="10">{{ post.content|e }}</textarea>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Источник новости:</label>

						<div class="col-md-9">
							<input class="form-control input-xlarge" name="source" required="true" type="text" value="{{ post.source|e }}"/>
							<span class="help-block"></span>
						</div>
					</div>

				</div>
			</div>

			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Опции
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">

					<div class="form-group last">
						<label class="control-label col-md-3">Выгружать в RSS:</label>

						<div class="col-md-9">
							<select class="form-control" name="rssPosting">
								<option value="">НЕ выгружать в RSS</option>
								<option value="1">Выгружать в RSS</option>
							</select>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Комментарии:</label>

						<div class="col-md-9">
							<select class="form-control" name="commentsOff">
								<option value="">ВКЛючить комментарии</option>
								<option value="1">ВЫКЛючить комментарии</option>
							</select>
							<span class="help-block"></span>
						</div>
					</div>

				</div>
			</div>

			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Теги
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">

					<div class="form-group last">
						<label class="control-label col-md-3">Рубрики: <span class="required">*</span></label>

						<div class="col-md-9">
							<input type="hidden" name="articles" value="{{ tags.articles|join(';') }}"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Теги:</label>

						<div class="col-md-9">
							<input type="hidden" name="tags" value="{{ tags.events|join(';') }}"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Персоны:</label>

						<div class="col-md-9">
							<input type="hidden" name="persons"/>
							<span class="help-block"></span>
						</div>
					</div>

					<div class="form-group last">
						<label class="control-label col-md-3">Фильмы:</label>

						<div class="col-md-9">
							<input type="hidden" name="movies"/>
							<span class="help-block"></span>
						</div>
					</div>

				</div>
			</div>

			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Фотографии
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body" data-element="post-images">

					<div class="alert alert-info alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
						Можно выбирать сразу много фотографий. Просто выдели мышью сколько захочешь.
					</div>

					<div class="alert alert-info alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
						Фотографии можно сортировать. Наведи курсор на фото, зажми и перетаскивай вверх-вниз меняя последовательность
					</div>

					<div class="form-group last">
						<label class="control-label col-md-2">&nbsp;</label>
						<div class="col-md-9 right">
							<input type="button" class="btn btn-info btn-s" id="add-images" value="добавить фотографии"/>
						</div>
					</div>

					<div class="clearfix"></div>

				</div>
			</div>


			<div class="portlet">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-reorder"></i>Опрос
					</div>
					<div class="tools">
						<a href="javascript:;" class="collapse"></a>
					</div>
				</div>
				<div class="portlet-body">

					<div class="hide" data-element="poll">
						<div class="note note-warning">
							Варианты ответов нельзя изменять после создания. Только вручную через программиста
						</div>

						<div class="form-group last" id="poll-question">
							<label class="control-label col-md-3">Вопрос: <span class="required">*</span></label>
							<div class="col-md-9 right">
								<input class="form-control input-xlarge" name="poll_question" required="true" type="text" placeholder="Что хочешь спросить?"/>
							</div>
						</div>

						<div class="form-group last">
							<label class="control-label col-md-3">&nbsp;</label>
							<div class="col-md-9 right">
								<a class="btn btn-info btn-s" href="#" data-action="poll-add-answer">добавить ответ</a>
							</div>
						</div>
					</div>


					<div class="form-group last">
						<label class="control-label col-md-2">&nbsp;</label>
						<div class="col-md-9 right">
							<input type="button" class="btn btn-info" value="добавить опрос" data-action="add-poll" />
						</div>
					</div>





				</div>
			</div>

		</div>

		<div class="form-actions right">

			{% if poll %}

				<button class="btn btn-m btn-danger" type="button" data-action="poll-remove">Удалить опрос</button>
				<button class="btn btn-m btn-success" type="submit">Обновить новость&nbsp;<i class="fa fa-check"></i></button>

			{% else %}

				{#<button class="btn btn-m btn-info" type="button" data-action="submit-just-save">Создать опрос</button>#}
				<button class="btn btn-m btn-success" type="submit">Создать новость&nbsp;<i class="fa fa-check"></i></button>

			{% endif %}
		</div>
	</form>

{% endblock %}