<ul class="pagination pagination-lg">
	<li>
		<a href="#"><i class="fa fa-angle-left"></i></a>
	</li>
	<li>
		<a href="#">1</a>
	</li>
	<li>
		<a href="#">2</a>
	</li>
	<li>
		<a href="#">3</a>
	</li>
	<li>
		<a href="#">4</a>
	</li>
	<li>
		<a href="#">5</a>
	</li>
	<li>
		<a href="#">6</a>
	</li>
	<li>
		<a href="#"><i class="fa fa-angle-right"></i></a>
	</li>
</ul>


{% macro paginator(overallPages,activePage,hrefMask) %}
	{% if overallPages > 1 %}

		<ul class="pagination pagination-lg">
			{% if overallPages <= 14 %}

				{% for page in 1..overallPages %}
					<li{% if page == activePage %} class="disabled"{% endif %}><a href="{{ hrefMask|format(page) }}">{{ page }}</a></li>
				{% endfor %}

			{% else %}

				{% if activePage <= 9 and overallPages >= 10 %}
					{% for page in 1..10 %}
						<li{% if page == activePage %} class="disabled"{% endif %}><a href="{{ hrefMask|format(page) }}">{{ page }}</a></li>
					{% endfor %}

					<li><span><strong>...</strong></span></li>

					<li><a href="{{ hrefMask|format(overallPages-1) }}">{{ overallPages-1 }}</a></li>
					<li><a href="{{ hrefMask|format(overallPages) }}">{{ overallPages }}</a></li>

				{% elseif (overallPages-activePage) <= 5 %}

					<li><a href="{{ hrefMask|format(1) }}">1</a></li>
					<li><a href="{{ hrefMask|format(2) }}">2</a></li>

					<li><span><strong>...</strong></span></li>

					{% for page in overallPages-6..overallPages %}
						<li{% if page == activePage %} class="disabled"{% endif %}><a href="{{ hrefMask|format(page) }}">{{ page }}</a></li>
					{% endfor %}
				{% else %}
					{% if overallPages > 9 %}
						<li><a href="{{ hrefMask|format(1) }}">1</a></li>
						<li><a href="{{ hrefMask|format(2) }}">2</a></li>

						<li><span>...</span></li>
					{% endif %}

					{% set pStart = activePage > 2 ? 2 : activePage %}
					{% set pEnd = (overallPages-activePage) > 2 ? 2 : overallPages-activePage %}

					{% for page in activePage-pStart..activePage+pEnd %}
						<li{% if page == activePage %} class="disabled"{% endif %}><a href="{{ hrefMask|format(page) }}">{{ page }}</a></li>
					{% endfor %}

					{% if overallPages > 9 and (overallPages-activePage) >= 3 %}
						<li><span>...</span></li>

						<li><a href="{{ hrefMask|format(overallPages-1) }}">{{ overallPages-1 }}</a></li>
						<li><a href="{{ hrefMask|format(overallPages) }}">{{ overallPages }}</a></li>
					{% endif %}
				{% endif %}

			{% endif %}

		</ul>
	{% endif %}
{% endmacro %}
























