{% extends '/GenericInner.twig' %}

{% block head %}

	<title>{{ post.name|e }} - popcornnews</title>

	<script type="text/javascript" src="/assets/js/popcorn.comments.js"></script>
	<script type="text/javascript" src="/assets/js/popcorn.fashionBattle.js"></script>
	<script type="text/javascript">

		$(function () {
			IM.init({
				entity: 'news',
				entityId: {{ post.id }}
			});

			IM.generateEmoji();

			{% if post.fashionBattle.id %}
				PostFB.init({
					fbId: {{ post.fashionBattle.id }}
				});
		    {% endif %}

		});

	</script>


{% endblock %}

{% block bodyStart %}

	{#Подключаем плашку со смайлами#}
	{% include '/comments/SmilesBar.twig' %}

{% endblock %}


{% block content %}

	<!--noindex-->
	<div class="b-socials" style="top: 249px;">
		<div class="b-socials__fixed">
			<div class="b-socials__wrapper">
				<div class="b-socials__title">share</div>
				<ul class="b-socials__list">
					<li class="b-socials__item">
						<a href="#" rel="nofollow" class="fb" title="Опубликовать в Фейсбуке"></a>
					</li>
					<li class="b-socials__item">
						<a href="#" rel="nofollow" class="vk" title="Опубликовать в ВКонтакте"></a>
					</li>
					<li class="b-socials__item">
						<a href="#" rel="nofollow" class="tw" title="Опубликовать в Твиттер"></a>
					</li>
					<li class="b-socials__item">
						<a href="#" rel="nofollow" class="po" title="Опубликовать в Google Plus"></a>
					</li>
					<li class="b-socials__item">
						<a href="#" rel="nofollow" class="ma" title="Опубликовать на Mail.ru"></a>
					</li>
					<li class="b-socials__item">
						<a href="#" rel="nofollow" class="ma" title="Опубликовать на Surfingbird.ru"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--/noindex-->

	<div class="b-grid__g8">
		<article data-entity-id="{{ post.id }}" class="b-single-article" style="overflow: hidden;">
			<section class="b-single-article__content clearfix">
				<h1 class="b-single-article__title">
					{{ post.name|e }}
					<span class="b-single-article__date">{{ post.createDate|ruDate('j f2 Y') }}</span>
				</h1>
				<div class="b-text">

					{% if post.announceFriendly %}
						<p>{{ post.announceFriendly }}</p>
					{% endif %}

					{% if post.mainImageId.id > 0 %}

						{% set mainPhoto = post.mainImageId.thumb('620x') %}

						<img src="{{ mainPhoto.url }}" width="{{ mainPhoto.width }}" height="{{ mainPhoto.height }}" alt="">

					{% endif %}

					{% if post.content %}
						<p>{{ post.content }}</p>
					{% endif %}

				</div>
			</section>

			{# Фотки, приложенные к новости #}
			{% if post.images|length > 0 %}
				<section class="b-single-article__attach-images" >
					{% for image in post.images %}
						{% set photo = image.thumb('620x') %}

						<div{% if image.description %} class="with-border" {% endif %}>
							<img src="{{ photo.url }}" height="{{ photo.height }}" width="{{ photo.width }}"  alt="{{ image.title|e }}" title="{{ image.title|e }}" />
							<p>{{ image.description|e }}</p>
						</div>

					{% endfor %}
				</section>
			{% endif %}

			<div class="clearfix"></div>

			{% if post.fashionBattle %}
				{% include '/news/FashionBattle.twig' %}
			{% endif %}

			<section class="b-large-news__info">
				<a href="/news/{{ post.id }}#comments" class="b-large-news__comments b-comments-status">
					{% if post.comments > 0 %}
						<span class="b-comments-status__title">Комментариев:</span>
						<span class="b-comments-status__num">{{ post.comments }}</span>
					{% else %}
						<span class="b-comments-status__title">нет комментарий</span>
					{% endif %}
				</a>

				<span class="b-single-article__views-title">Просмотров: {{ post.views|number_format(0,'',' ') }}</span>

				{% include '/news/TagsBar.twig' with {'post':post} only %}
			</section>
		</article>

		{% include '/comments/CommentsBlock.twig' %}

		<!--
		<section class="b-photo-articles b-inside__photo-articles clearfix">
			<div class="b-photo-articles__title-cont b-grid__g8 b-grid__a">
				<h1 class="b-photo-articles__title b-rubrics-title b-rubrics-title_s24">Фото-статьи</h1>
				<span class="b-photo-articles__counter b-counter">5941</span>
			</div>
			<div class="b-grid__g4 b-grid__a">
				<a href="#" class="b-photo-articles__photo-cont"><img src="./img/content/large_front.jpg" alt=""></a>

				<div class="b-photo-articles__photo-count">3 фотографии</div>
				<h2 class="b-photo-articles__news-title"><a href="#">Голлисвудский роман Николь Кидман и Тома Круза</a>
				</h2>
			</div>
			<div class="b-grid__g4 b-grid__z">
				<a href="#" class="b-photo-articles__photo-cont"><img src="./img/content/large_front.jpg" alt=""></a>

				<div class="b-photo-articles__photo-count">17 фотографий</div>
				<h2 class="b-photo-articles__news-title"><a href="#">Миллионы Тэйлор Свифт</a></h2>
			</div>
			<div class="clear"></div>
			<div class="b-grid__g4 b-grid__a">
				<a href="#" class="b-photo-articles__photo-cont"><img src="./img/content/large_front.jpg" alt=""></a>

				<div class="b-photo-articles__photo-count">67 фотографий</div>
				<h2 class="b-photo-articles__news-title"><a href="#">Эволюция тела Майкла Фелпса</a></h2>
			</div>
			<div class="b-grid__g4 b-grid__z">
				<a href="#" class="b-photo-articles__photo-cont"><img src="./img/content/large_front.jpg" alt=""></a>

				<div class="b-photo-articles__photo-count">3 фотографии</div>
				<h2 class="b-photo-articles__news-title"><a href="#">Голлисвудский роман Николь Кидман и Тома Круза</a>
				</h2>
			</div>
		</section>
		-->

		{% if earlyPosts.month1|length and earlyPosts.month2|length and earlyPosts.month3|length %}

			<section class="b-archive clearfix">
				<div class="b-grid__g7 b-grid__a">
					<h1 class="b-archive__rubrics-title b-rubrics-title b-rubrics-title_s30">ранее</h1>
					<ul class="b-archive__month-list">
						{% if earlyPosts.month1|length %}
							<li class="b-archive__month-item">
								<h2 class="b-archive__month-title">{{ earlyTime.month1|ruDate('f Y') }}</h2>
								<ul class="b-archive__entry-list b-list">
									{% for post in earlyPosts.month1 %}
										<li>
											<a href="/news/{{ post.id }}">{{ post.name|e }}</a><span class="b-list__counter">({{ post.comments }})</span>
										</li>
									{% endfor %}
								</ul>
							</li>
						{% endif %}

						{% if earlyPosts.month2|length %}
							<li class="b-archive__month-item">
								<h2 class="b-archive__month-title">{{ earlyTime.month2|ruDate('f Y') }}</h2>
								<ul class="b-archive__entry-list b-list">
									{% for post in earlyPosts.month2 %}
										<li>
											<a href="/news/{{ post.id }}">{{ post.name|e }}</a><span class="b-list__counter">({{ post.comments }})</span>
										</li>
									{% endfor %}
								</ul>
							</li>
						{% endif %}

						{% if earlyPosts.month3|length %}
							<li class="b-archive__month-item">
								<h2 class="b-archive__month-title">{{ earlyTime.month3|ruDate('f Y') }}</h2>
								<ul class="b-archive__entry-list b-list">
									{% for post in earlyPosts.month3 %}
										<li>
											<a href="/news/{{ post.id }}">{{ post.name|e }}</a><span class="b-list__counter">({{ post.comments }})</span>
										</li>
									{% endfor %}
								</ul>
							</li>
						{% endif %}
					</ul>
				</div>
			</section>
		{% endif %}
	</div>

{% endblock %}