{% extends '/GenericInner.twig' %}

{% block head %}
	<title>{{ title }}</title>
{% endblock %}


{% block content %}

	<div class="b-grid__g8">
		<div class="clearfix">
			<div class="b-grid__g7 b-grid__a">
				<h1>Результаты поиска</h1>
				<section class="b-group__menu b-inside__menu">
					<ul class="b-inside__menu-firstlist">
						<li{% if slim.path[3] is null %} class="active"{% endif %}>
							<a href="/community/groups">все</a>
						</li>
						<li{% if slim.path[3] == 'news' %} class="active"{% endif %}>
							<a href="/community/groups/top">новости</a>
						</li>
						<li{% if slim.path[3] == 'persons' %} class="active"{% endif %}>
							<a href="/community/groups/new">персоны</a>
						</li>
					</ul>
				</section>
				<section class="search-news">
					<ul class="search-news__list">

						{% for post in posts %}
                                
							<li>
								<div class="search-news__image">
									<a class="search-news__head" href="/news/{{ post.id }}" title="{{ post.name|e }}">
        
										{% if post.mainImageId.id > 0 %}
                                        
											{% set photo = post.mainImageId.thumb('110x') %}
                                        
											<img alt="{{ post.name|e }}" src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}">
                                        
										{% endif %}
        
									</a>
								</div>
								<div class="search-news__body">
									<h2 class="search-news__title"><a href="/news/{{ post.id }}" title="{{ post.name|e }}">{{ post.name|e }}</a></h2>
									<p class="search-news__text">{{ post.announceFriendly(100) }}</p>
									<a class="search-news__comments b-comments-status" href="/news/{{ post.id }}#comments">

										{% if post.comments == 0 %}

											<span class="b-comments-status__title">нет комментариев</span>

										{% else %}

											<span class="b-comments-status__num">{{ post.comments }}</span>
											<span class="b-comments-status__title">{{ post.comments|ruNumber('%s',['комментарий','комментария','комментариев','нет комментариев']) }}</span>

										{% endif %}
									</a>
								</div>
								<div class="clearfix"></div>
							</li>

						{% endfor %}

					</ul>
				</section>
{#				{{
					html.paginator(
						 paginator.pages
						,paginator.active
						,paginatorMask
					)
				}}
#}
			</div>
		</div>
	</div>

{% endblock %}