{% extends '/GenericInner.twig' %}
{% import '/Mixins.twig' as html %}

{% block head %}
	<title>Фотогалереи  - popcornnews</title>
{% endblock %}

{% block content %}

	<div class="b-grid__g8 b-photo-articles">
		<div class="b-grid__a">

			<h1>Фотогалереи</h1>

			{% for post in posts %}
				{% set photo = post.mainImage.thumb('140x') %}

				<div class="b-photo-articles__post">
					<a href="/photo-article/{{ post.id }}" title="{{ post.name|e }}" class="b-photo-articles__photo-cont"><img alt="{{ post.name|e }}" src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}"></a>
					<div class="b-photo-articles__photo-count">{{ post.imagesCount|ruNumber(['нет комментарий','%u комментарий','%u комментария','%u комментариев']) }}</div>
					<h2 class="b-photo-articles__news-title">
						<a href="/photo-article/{{ post.id }}" title="{{ post.name|e }}">{{ post.name|e }}</a>
					</h2>
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}