{% extends '/community/CommunityGeneric.twig' %}
{% import '/Mixins.twig' as html %}

{% block head %}

	<title>Сообщество - popcornnews</title>

{% endblock %}


{% block communityContent %}

	<div class="b-grid__g8">
		<h3 class="b-community-header">популярные группы</h3>

		<ul class="b-community-groups">
			{% for group in topGroups %}
				<li class="b-community-item">
					<div class="b-community-item__image">

						{% if group.poster.id %}
							{% set photo = group.poster.thumb('130x') %}
							<a href="/community/group/{{ group.id }}"><img src="{{ photo.url }}" alt="{{ group.title|e }}" width="130"></a>
						{% else %}
							<div style="width:300px;">&nbsp;</div>
						{% endif %}

					</div>
					<div class="b-community-item__content">
						<h4><a href="/community/group/{{ group.id }}">{{ group.title|e }}</a></h4>
						<p>{{ group.description(200)|e }}</p>
						<div class="b-community-item__tags"></div>
						<div class="b-community-item__stat">
							<span class="b-community-item__stat-members">{{ group.membersCount|ruNumber(['нет участников','%u участник','%u участника','%u участников']) }}</span>
							<span class="b-community-item__stat-date">Создано {{ group.createdAt|ruDate('j f2 Y') }}</span>
						</div>
					</div>
					<div class="clearfix"></div>
				</li>
			{% endfor %}
		</ul>

		<h3 class="b-community-header">новые группы</h3>

		<ul class="b-community-groups">
			{% for group in newGroups %}
				<li class="b-community-item">
					<div class="b-community-item__image">

						{% if group.poster.id %}
							{% set photo = group.poster.thumb('130x') %}
							<a href="/community/group/{{ group.id }}"><img src="{{ photo.url }}" alt="{{ group.title|e }}" width="130"></a>
						{% else %}
							<div style="width:300px;">&nbsp;</div>
						{% endif %}

					</div>
					<div class="b-community-item__content">
						<h4><a href="/community/group/{{ group.id }}">{{ group.title|e }}</a></h4>
						<p>{{ group.description(200)|e }}</p>
						<div class="b-community-item__tags"></div>
						<div class="b-community-item__stat">
							<span class="b-community-item__stat-members">{{ group.membersCount|ruNumber(['нет участников','%u участник','%u участника','%u участников']) }}</span>
							<span class="b-community-item__stat-date">Создано {{ group.createdAt|ruDate('j f2 Y') }}</span>
						</div>
					</div>
					<div class="clearfix"></div>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}