{% extends '/person/PersonGeneric.twig' %}
{% import '/Mixins.twig' as html %}

{% block head %}

	{% if paginator.active > 1 %}
		{% set paginatorTitle = 'Страница ' ~ paginator.active ~ ' - ' %}
	{% endif %}

	<title>Новости о {{ person.prepositionalName|e }} ({{ person.englishName|e }}) - {{ paginatorTitle }}popcornnews</title>
	<meta name="description" content="Новости {{ person.name|e }} - все все последние события с участием {{ person.englishName|e }} и их обсуждение на сайте Popcornnews.ru"/>
	<meta name="keywords" content="новости, {{ person.name|e }}, {{ person.englishName|e }}"/>

{% endblock %}


{% block personContent %}

	<div class="b-grid__g8">
		<div class="clearfix">
			<div class="b-grid__g6 b-grid__a">

				{% include '/news/PostList.twig' %}

				{{ html.paginator(
					 paginator.pages
					,paginator.active
					,'/persons/' ~ slim.path[2] ~ '/news/page%u'
				) }}

			</div>
		</div>
	</div>

{% endblock %}