{% extends '/person/fanfics/PersonFanFicGeneric.twig' %}
{% import '/Mixins.twig' as html %}


{% block head %}

	{% if paginator.active > 1 %}
		{% set paginatorTitle = 'Страница ' ~ paginator.active ~ ' - ' %}
	{% endif %}

	<title>Фанфики о {{ person.prepositionalName|e }} - {{ paginatorTitle }}popcornnews</title>

	<script type="text/javascript">
		$(function(){
			$('a[data-action=vote-up],a[data-action=vote-down]').on('click',function(){

				var fanficParent = $(this).closest('.fanfic');
				var textDefault = fanficParent.find('.text').attr('data-default-text');

				var action = $(this).attr('data-action');
				var fanficId  = fanficParent.attr('data-fanfic-id');

				var params = {
					'fanficId' : fanficId,
					'vote'  : action
				};

				var handler = function(response){

					if (response.status == 'success'){

						fanficParent.find('.b-right-stats .col, .b-right-stats .text').animate({ opacity: 0 },'fast',function(){

							fanficParent.find('.col').text(response.points);

							if (action == 'vote-up'){
								fanficParent.find('.btn_minus').addClass('btn_disable');
							}else if (action == 'vote-down'){
								fanficParent.find('.btn_plus').addClass('btn_disable');
							}

							fanficParent
								.find('.text')
								.text('Спасибо, ваш голос принят!')
								.animate({ opacity: 1 },'fast',function(){
									$this = $(this);
									setTimeout(function(){
										$this.text(response.pointsOverall);
									},2000);
								})
							;

							$(this).animate({ opacity: 1 },'fast');
						});

					}else{

						fanficParent.find('.b-right-stats .text').animate({ opacity: 0 },'fast',function(){

							fanficParent.find('.text').html(response.exception.message);

							$(this).animate({ opacity: 1 },'fast',function(){

								setTimeout(function(){
									fanficParent.find('.text').animate({ opacity: 0 },'fast',function(){
										$(this).html(textDefault);

										$(this).animate({ opacity: 1 },'fast');
									});
								},2000);


							});
						});
					}

				};

				$.post('/ajax/fanfics/vote',params,handler,'json');

				return false;

			});
		});
	</script>

{% endblock %}

{% block personContent %}

	{% if app.flash.fanFicAdded %}
		<script type="text/javascript">
			$(function () {
				setTimeout(function(){
					location.href = '/persons/{{ person.urlName }}/fanfics';
				},3000);
			});
		</script>

		<div class="system-message b-text">
			<p>Фанфик добавлен, сейчас ты вернешься к списку фанфиков...</p>
			<p><a href="/persons/{{ person.urlName }}/fanfics">вернуться к списку фанфиков</a></p>
		</div>
	{% else %}

		{% for fanfic in fanfics %}

			{% set textDefault = fanfic.votesOverall|ruNumber(['нет голосов','Всего %u голос','Всего %u голоса','Всего %u голосов']) %}

			<div class="clearfix fanfic" data-fanfic-id="{{ fanfic.id }}" style="border-bottom: 1px solid #F0F0F0;margin:10px 0;padding-bottom: 10px;">
				<div class="b-topic-text">
					<h2><a href="/persons/{{ person.urlName }}/fanfics/{{ fanfic.id }}">{{ fanfic.title|e }}</a></h2>

					<p>{{ fanfic.announce|e }}</p>
				</div>
				<div class="b-right-stats">
					<div class="vote">
						<div class="col b-firm-grad">{{ fanfic.votes }}</div>
						<div class="btn-wrap">
							<a href="#" data-action="vote-up" class="b-firm-grad btn btn_plus">+</a>
							<a href="#" data-action="vote-down" class="b-firm-grad btn btn_minus">&ndash;</a>
						</div>

						<p class="text" data-default-text="{{ textDefault }}">{{ textDefault }}</p>
					</div>
				</div>
			</div>


		{% endfor %}

		{{ html.paginator(paginator.pages,paginator.active,'/persons/' ~ person.urlName ~ '/fanfics/page%u') }}


	{% endif %}

{% endblock %}