{% extends '/person/fanfics/PersonFanFicGeneric.twig' %}
{% import '/Mixins.twig' as html %}


{% block head %}

	{% if paginator.active > 1 %}
		{% set paginatorTitle = 'Страница ' ~ paginator.active ~ ' - ' %}
	{% endif %}

	<title>Фанфики о {{ person.prepositionalName|e }} - {{ paginatorTitle }}popcornnews</title>

	<script type="text/javascript" src="/assets/js/jquery.upDownVoting.js"></script>
	<script type="text/javascript">

		$(function(){
			$.upDownVoting({
				element: '.fanfic',
				id: 'data-fanfic-id',
				url: '/ajax/fanfic/vote'
			});
		});

	</script>

{% endblock %}

{% block personContent %}

	{% if app.flash.fanFicAdded %}
		<script type="text/javascript">
			$(function () {
				setTimeout(function(){
					location.href = '/persons/{{ person.urlName }}/fanfics';
				},3000);
			});
		</script>

		<div class="system-message b-text">
			<p>Фанфик добавлен, сейчас ты вернешься к списку фанфиков...</p>
			<p><a href="/persons/{{ person.urlName }}/fanfics">вернуться к списку фанфиков</a></p>
		</div>
	{% else %}

		{% for fanfic in fanfics %}

			{% set textDefault = fanfic.votesOverall|ruNumber(['нет голосов','Всего %u голос','Всего %u голоса','Всего %u голосов']) %}

			<div class="clearfix fanfic" data-fanfic-id="{{ fanfic.id }}" style="border-bottom: 1px solid #F0F0F0;margin:10px 0;padding-bottom: 10px;">
				<div class="b-topic-text">
					<h2><a href="/persons/{{ person.urlName }}/fanfics/{{ fanfic.id }}">{{ fanfic.title|e }}</a></h2>

					<p>{{ fanfic.announce|e }}</p>
				</div>
				<div class="b-right-stats">
					<div class="vote">
						<div class="col b-firm-grad">{{ fanfic.votes }}</div>
						<div class="btn-wrap">
							<a href="#" data-action="vote-up" class="b-firm-grad btn btn_plus">+</a>
							<a href="#" data-action="vote-down" class="b-firm-grad btn btn_minus">&ndash;</a>
						</div>

						<p class="text" data-default-text="{{ textDefault }}">{{ textDefault }}</p>
					</div>
					{#<div class="under">#}
						{#<p><a href="/kid/{{ kid.id }}#new-comment"><strong>Удалить обсуждение</strong></a></p>#}
					{#</div>#}
				</div>
			</div>


		{% endfor %}

		{{ html.paginator(paginator.pages,paginator.active,'/persons/' ~ person.urlName ~ '/fanfics/page%u') }}


	{% endif %}

{% endblock %}