{% extends '/yourstyle/YourStyleGeneric.twig' %}

{% block subMenu %}

	{% include '/yourstyle/YourStyleSubMenuSets.twig' %}

{% endblock %}

{% block subYourStyle %}

	<div class="popular-sets">
		<div class="article-title">популярные сеты</div>
		<ul class="popular-sets__list">

			{% for topSet in topSets %}

				<li class="popular-sets__item">
					<div class="popular-sets__big">
						<a href="/yourstyle/set/{{ topSet.id }}" class="popular-sets__big-wrapper">
							<img class="popular-sets__big-image" src="{{ topSet.image }}" alt=""/>
						</a>
						<div class="popular-sets__big-data">
							<div class="popular-sets__big-title">
								<a class="popular-sets__big-title-link" href="/yourstyle/set/{{ topSet.id }}">{{ topSet.title }}</a>
							</div>
							<div class="popular-sets__big-voices">
								{{ topSet.votes|ruNumber(['нет голосов','%u голос','%u голоса','%u голосов']) }}
							</div>
							<div class="popular-sets__big-comments">
								<a class="popular-sets__comments-counter" href="/yourstyle/set/{{ topSet.id }}#comments">{{ topSet.comments|ruNumber(['нет комментарий','%u комментарий','%u комментария','%u комментариев']) }}</a>,
								<div class="rating-count">{{ topSet.urating }}</div>
							</div>
						</div>
					</div>
				</li>

			{% endfor %}

		</ul>
	</div>

{% endblock %}