{% extends '/yourstyle/YourStyleGeneric.twig' %}

{% block subYourStyle %}

	<div class="article-cols">
		<div class="article-cols__left">
			<div class="popular-sets">
				<div class="article-title">популярные сеты</div>
				<div class="popular-sets__big">
					<a href="/yourstyle/set/{{ topSets[0].id }}" class="popular-sets__big-wrapper">
						<img class="popular-sets__big-image" src="{{ topSets[0].image }}" alt=""/>
					</a>
					<div class="popular-sets__big-data">
						<div class="popular-sets__big-title">
							<a class="popular-sets__big-title-link" href="/yourstyle/set/{{ topSets[0].id }}">{{ topSets[0].title }}</a>
						</div>
						<div class="popular-sets__big-voices">
							{{ topSets[0].rating|ruNumber(['нет голосов','%u голос','%u голоса','%u голосов']) }}
						</div>
						<div class="popular-sets__big-comments">
							<a class="popular-sets__comments-counter" href="/yourstyle/set/{{ topSets[0].id }}#comments">{{ topSets[0].comments|ruNumber(['нет комментарий','%u комментарий','%u комментария','%u комментариев']) }}</a>,
							<div class="rating-count">{{ topSets[0].urating }}</div>
						</div>
					</div>
				</div>
			</div>
			<ul class="popular-sets__list">

				{% for key, topSet in topSets %}

					{% if key > 0 %}

						<li class="popular-sets__item">
							<div class="popular-sets__hover"></h1></div>
							<div class="pupular-sets__item-wrapper">
								<a href="/yourstyle/set/{{ topSet.id }}" class="popular-sets__item-image">
									<img class="popular-sets__item-pic" src="{{ topSet.image }}" alt=""/>
								</a>
								<div class="popular-sets__item-data">
									<div class="popular-sets__big-title">
										<a class="popular-sets__big-title-link" href="/yourstyle/set/{{ topSet.id }}">{{ topSet.title }}</a>
									</div>
									<div class="popular-sets__big-voices">
										{{ topSet.votes|ruNumber(['нет голосов','%u голос','%u голоса','%u голосов']) }}
									</div>
									<div class="popular-sets__big-comments">
										<a class="popular-sets__comments-counter" href="/yourstyle/set/{{ topSet.id }}#comments">{{ topSet.comments|ruNumber(['нет комментарий','%u комментарий','%u комментария','%u комментариев']) }}</a>,
										<a class="popular-sets__comments-username" href="/profile/{{ topSet.uid }}">{{ topSet.unick }}</a>,
										<div class="rating-count">{{ topSet.urating }}</div>
									</div>
								</div>
							</div>
						</li>

					{% endif %}

				{% endfor %}

			</ul>
		</div>
		<div class="article-cols__right">
			<div class="create-your-set">
				<div class="b-grid__g4 b-grid__a b-grid__z clearfix b-side__vertical-margin b-side__vertical-margin_30">
					<section class="b-create-your-style">
						<div class="b-create-your-style__rubrics-title b-rubrics-title b-rubrics-title_s24">cоздай свой стиль</div>
						<div class="b-create-your-style__body clearfix">
							<div class="b-create-your-style__text">Смешивай и комбинируй различные вещи, чтобы создать свой собственный и неповторимый стиль</div>
							<a href="/yourstyle/editor" target="_blank" class="b-create-your-style__link b-firm-grad">&gt;</a>
						</div>
					</section>
				</div>
			</div>
			<div class="celebrities-sets">
				<div class="article-title">звездные сеты</div>
				<ul class="celebrities-sets__list">

					{% for star in newStarsBy2Coll %}

						<li class="celebrities-sets__item">
							<a class="celebrities-sets__link" href="/persons/{{ star.eng_name }}/sets">{{ star.name }}</a>
						</li>

					{% endfor %}

				</ul>
				<div class="celebrities-sets__expand">
					<a class="celebrities-sets__expand-link" href="/yourstyle/stars/byName">
						все звезды
					</a>
				</div>
			</div>
			<div class="celebrities__stuff">
				<div class="article-title">популярные вещи</div>
				<ul class="celebrities__stuff-list">

					{% for tile in topTiles %}

						<li class="celebrities__stuff-item">
							<a class="celebrities__stuff-link" href="/yourstyle/tile/{{ tile.id }}">
								<img class="celebrities__stuff-image" src=" {{ tile.image }}" alt=""/>
							</a>
						</li>

					{% endfor %}

				</ul>
			</div>
		</div>
	</div>
	<div class="new-sets">
		<div class="article-title">новые cеты</div>
		<ul class="celebrities__stuff-list">

			{% for set in newSets %}

				<li class="celebrities__stuff-item">
					<a class="celebrities__stuff-link" href="/yourstyle/set/{{ set.id }}">
						<img class="celebrities__stuff-image" src="{{ set.image }}" alt=""/>
					</a>
				</li>

			{% endfor %}

		</ul>
	</div>
	<div class="active-users">
		<div class="article-title">активные пользователи</div>
		<ul class="active-users__list">

			{% for user in activeUsers %}

				{% if user.avatar.id %}
					{% set src = user.avatar.url('140x') %}
				{% else %}
					{% set src = '/i/no_photo_small.jpg' %}
				{% endif %}

				<li class="active-users__item">
					<a href="/profile/{{ user.id }}" class="active-users__avatar">
						<img class="active-users__avatar-pic" src="{{ src }}" alt=""/>
					</a>
					<div class="active-users__data">
						<a class="popular-sets__comments-username" href="/profile/{{ user.id }}">{{ user.nick }}</a>,
						<div class="rating-count">{{ user.rating.points|number_format(0,'',' ') }}</div>
					</div>
				</li>

			{% endfor %}

		</ul>
	</div>

{% endblock %}