{% extends '/mail/Generic.twig' %}

{% block content %}

	<h2 style="font: 24px 'Trebuchet MS', Tahoma, Verdana, Arial; margin-top: 15px; margin-bottom: 10px;">Новый друг на сайте {{ slim.request.host }}</h2>
	<div style="background: #e5e5e5; padding: 12px 15px;">
		<span style="font: 13px Tahoma, Verdana, Arial; display: block; ">Пользователь {{ user.nick|e }} добавил(а) тебя в свои друзья и ждет подтверждения.</span>
		<span style="font: 13px Tahoma, Verdana, Arial; display: block;margin-bottom: 12px; ">Подтвердить или отказать в запросе на дружбу ты можешь на своей странице друзей: </span>
		<a style="font: 13px Tahoma, Verdana, Arial; color: #f70080;" href="http://{{ slim.request.host }}/profile/{{ friend.id }}/friends">http://{{ slim.request.host }}/profile/{{ friend.id }}/friends</a>
		<span style="font: 13px Tahoma, Verdana, Arial; display: block; margin-top: 15px;">С уважением, редакция Popcornnews <a style="color: #f70080" href="http://{{ slim.request.host }}/">http://{{ slim.request.host }}/</a></span>
	</div>

{% endblock %}