{% extends '/GenericInner.twig' %}

{% block head %}

	<script type="text/javascript">
		$(function(){

			var ajaxCallback = function(response){
				if (response.status == 'success'){

				}else if (response.status == 'error'){
					alert(response.exception.message);
				}
			};

			$('a[data-action=removeFromBlackList]').on('click',function(){
				$.post('/ajax/blacklist/remove',{ 'profileId' : {{ profile.id }} },ajaxCallback,'json');
				return false;
			});

			$('a[data-action=addToBlackList]').on('click',function(){
				$.post('/ajax/blacklist/add',{ 'profileId' : {{ profile.id }} },ajaxCallback,'json');
				return false;
			});

			$('a[data-action=addToFriend]').on('click',function(){
				$.post('/ajax/friend/add',{ 'friendId' : {{ profile.id }} },ajaxCallback,'json');
				return false;
			});

            $('.b-profile .left-col').stickyMojo({footerID: '.b-footer', contentID: '.b-profile .profile'});




		});
	</script>

	<script type="text/javascript">
		$(function(){

			$('.tooltip').each(function(){
				var theme = '.tooltipster-pink';

				if ($(this).attr('data-tooltip-theme')){
					theme = 'tooltipster-' + $(this).attr('data-tooltip-theme');
				}

				$(this).tooltipster({
					animation: 'swing',
					theme: theme,
					interactive: true,
					touchDevices: true,
					onlyOne: true,
					position: $(this).attr('data-tooltip-position'),
					content: $(this).attr('data-title')
				});
			});


			Profile.init({
				profileId: {{ profile.id }}
			});

		});
	</script>

{% endblock %}


{% block content %}

	{% if profile.userInfo.sex == 1 %}
		{% set sex = 'Парень' %}
	{% elseif profile.userInfo.sex == 2 %}
		{% set sex = 'Девушка' %}
	{% endif %}

    {#{{ profile.avatar.url('140x') }}#}

	<div class="b-grid__g8">
		<section class="b-profile">
			<div class="left-col">

				<div class="profile-data">
					<div class="profile-data__avatar">
						{% if profile.avatar.id %}
							{% set photo = profile.avatar.thumb('140x') %}
							<a href="/profile/{{ profile.id }}"><img src="{{ photo.url }}" width="{{ photo.width }}" height="{{ photo.height }}"/></a>
						{% else %}
							<a href="/profile/{{ profile.id }}"><img src="/assets/img/no-photo/large.png"/></a>
						{% endif %}
					</div>
					<div class="profile-data__info">
						{% if profile.isOnline %}
							<div class="profile-data__online">
								<span class="profile-data__online-indicator"></span> Сейчас на сайте
							</div>
						{% else %}
							<div class="profile-data__last-visit">
								Последний визит: <br/>
								{{ profile.lastVisit|dateRU }}
							</div>
						{% endif %}
					</div>
					{% if not profileHelper.isMyProfile %}
						<ul class="profile-data__options">
							{% if profileHelper.isFriends %}
								<li class="profile-data__options-item">
									<a class="profile-data__link" data-action="do-friendship-remove" href="#">
										Убрать из друзей
									</a>
								</li>
							{% else %}
								<li class="profile-data__options-item profile-data__options-item_add">
									<a class="profile-data__link" data-action="do-friendship-add" href="#">
										В друзья
									</a>
									<div class="profile-data__description"{% if not profileHelper.friendRequest %} style="display: none;"{% endif %}>
										Запрос на дружбу отправлен
									</div>
								</li>
							{% endif %}
							<li class="profile-data__options-item profile-data__options-item_message">
								<a class="profile-data__link" href="#">Сообщение</a>
							</li>
							<li class="profile-data__options-item profile-data__options-item_view">
								<a class="profile-data__link" href="/profile/{{ profile.id }}/guestbook">В гостевую</a>
							</li>
						</ul>
						<ul class="profile-data__options profile-data__options_extras">
							{#<li class="profile-data__options-item">
								<a class="profile-data__link profile-data__link_big" href="#">Подарок</a>
							</li>#}
							{% if profileHelper.inBlackList %}
								<li class="profile-data__options-item">
									<a class="profile-data__link" href="#">Разблокировать</a>
								</li>
							{% else %}
								<li class="profile-data__options-item">
									<a class="profile-data__link" href="#">Заблокировать</a>
								</li>
							{% endif %}
						</ul>
					{% endif %}
				</div>

			</div>
			<div class="profile">
				{% block profile %}{% endblock %}
			</div>
		</section>
	</div>

{% endblock %}