{% extends '/profile/ProfileGeneric.twig' %}
{% import '/Mixins.twig' as html %}


{% block head %}

	<title>your.style - popcornnews</title>

{% endblock %}

{% block profile %}

	<h1>your.style</h1>

	{% include '/profile/ProfileMenu.twig' %}

	<div class="popular-sets">
		<div class="article-title">{% if profileHelper.isMyProfile %}мои сеты{% else %}сеты пользователя{% endif %}</div>
		<ul class="popular-sets__list">
        
			{% for set in sets %}
        
				<li class="popular-sets__item">
					<div class="popular-sets__big">
						<a href="/yourstyle/set/{{ set.id }}" class="popular-sets__big-wrapper">
							<img class="popular-sets__big-image" src="{{ set.image }}" alt=""/>
						</a>
						<div class="popular-sets__big-data">
							<div class="popular-sets__big-title">
								<a class="popular-sets__big-title-link" href="/yourstyle/set/{{ set.id }}">{{ set.title }}</a>
							</div>
							<div class="popular-sets__big-voices">
								{{ set.votes|ruNumber(['нет голосов','%u голос','%u голоса','%u голосов']) }}
							</div>
							<div class="popular-sets__big-comments">
								<a class="popular-sets__comments-counter" href="/yourstyle/set/{{ set.id }}#comments">{{ set.comments|ruNumber(['нет комментарий','%u комментарий','%u комментария','%u комментариев']) }}</a>,
								<div class="rating-count">{{ set.urating }}</div>
							</div>
						</div>
					</div>
				</li>
        
			{% endfor %}
        
		</ul>
	</div>

{% endblock %}