{% extends '/profile/ProfileGeneric.twig' %}

{% block head %}

	<title>{{ profile.nick|e }} - popcornnews</title>

	<meta name="description" content="Новостной блог" />
	<meta name="keywords"    content="попкорнньюз, popcornnews, блог звезды, новости звезд, звездные новости" />

	{{ parent() }}

    {% if profileHelper.isMyProfile %}
        <script type="text/javascript">
            $(function(){
                $('#profile-status a').on('click',function(){

                    var offset = $(this).offset();

                    $('#status-window')
                      .css({
                        top: offset.top + 'px',
                        left: offset.left + 'px'
                        })
                      .show()
                    ;

                    return false;
                });

                $('#status-window input').on('keydown',function(event){
                    var statusText = $(this).val();

                    if (event.which == 13){
                        $.post('/ajax/status/update',{ 'statusMessage' : statusText },function(response){

                            if (response.status == 'success'){
                                $('#status-window').hide();
                                $('#profile-status a strong').html(statusText);

                            }

                        },'json');
                    }
                });
            });
        </script>
    {% endif %}

{% endblock %}

{% block bodyStart %}

	<div id="status-window">
		<input type="text" name="statusMessage" />

		{% if statusList|length > 0 %}

		<table>
			{% for status in statusList %}
				<tr>
					<td>{{ status.statusMessage|e }}</td>
					<td>{{ status.createdAt }}</td>
				</tr>
				<tr><td colspan="2" class="hr"></td></tr>
			{% endfor %}
		</table>

		{% endif %}
	</div>

{% endblock %}

{% block profile %}

	<h1>{{ profile.nick|e }}</h1>

    {% if profileHelper.isMyProfile %}
        <div class="status" id="profile-status">
        </div>
    {% else %}
        <div class="status" id="profile-status">
            <a href="#">
                {% if profile.extra('status') %}
                    <strong>{{ profile.extra('status').statusMessage }}</strong>
                {% endif %}
            </a>
        </div>
    {% endif %}



	{% include '/profile/ProfileMenu.twig' %}

	<div class="info">
		<form class="questionnaireForm" action="/" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="type" value="profile">
			<input type="hidden" name="action" value="edit">
			<br><label>
				<strong>Ник <sup>*</sup></strong>
				<input type="text" name="nick" value="{{ profile.nick }}" readonly="readonly">
			</label>
			<br><label>
				<strong>Имя</strong>
				<input type="text" name="uname" value="{{ profile.userInfo.name }}">
			</label>
			<br><label>
				<strong>Ваше кредо <br>(не более 250 символов)</strong>
				<textarea name="credo">{{ profile.userInfo.credo|e }}</textarea>
			</label>
			<fieldset>
				<strong>Аватара<br />84x84 точки</strong>
				<span class="cont">
					{% if profile.avatar.id %}<img src="{{ profile.avatar.url('140x') }}">{% endif %}
					<input type="file" name="avatara" value="">
				</span>
			</fieldset>
			<fieldset>
				{% set birthY = profile.userInfo.birthDate|date("Y") %}
				{% set birthM = profile.userInfo.birthDate|date("m") %}
				{% set birthD = profile.userInfo.birthDate|date("d") %}
				<strong>Дата рождения <sup>*</sup></strong>
				<span class="cont">
					<select name="day">
						{% for i in 1..31 %}
							<option value="{{ i }}" {% if i == birthD %}selected{% endif %}>{{ i }}</option>
						{% endfor %}
					</select>
					<select name="month">
						<option value="1" {% if 1 == birthM %}selected="selected"{% endif %}}>января</option>
						<option value="2" {% if 2 == birthM %}selected="selected"{% endif %}}>февраля</option>
						<option value="3" {% if 3 == birthM %}selected="selected"{% endif %}}>марта</option>
						<option value="4" {% if 4 == birthM %}selected="selected"{% endif %}}>апреля</option>
						<option value="5" {% if 5 == birthM %}selected="selected"{% endif %}}>мая</option>
						<option value="6" {% if 6 == birthM %}selected="selected"{% endif %}}>июня</option>
						<option value="7" {% if 7 == birthM %}selected="selected"{% endif %}}>июля</option>
						<option value="8" {% if 8 == birthM %}selected="selected"{% endif %}}>августа</option>
						<option value="9" {% if 9 == birthM %}selected="selected"{% endif %}}>сентября</option>
						<option value="10" {% if 10 == birthM %}selected="selected"{% endif %}}>октября</option>
						<option value="11" {% if 11 == birthM %}selected="selected"{% endif %}}>ноября</option>
						<option value="12" {% if 12 == birthM %}selected="selected"{% endif %}}>декабря</option>
					</select>
					<select name="year">
						{% for i in "now"|date('Y')..1900 %}
							<option value="{{ i }}" {% if i == birthY %}selected{% endif %}>{{ i }}</option>
						{% endfor %}
					</select>
					<span>показывать в профиле</span>
					<input type="checkbox" name="show_bd" value="1" {% if profile.userSettings.showBirthDate == 1 %}checked="checked"{% endif %} />
				</span>
			</fieldset>
			<br><label>
				<strong>Новый пароль</strong>
				<input type="password" name="pass1" value="">
			</label>
			<br><label>
				<strong>Повторите пароль</strong>
				<input type="password" name="pass2" value="">
			</label>
			<br><label><strong>Страна</strong>
				<select name="country">
					{% for c in countries %}
						<option value="{{ c.id }}" {% if profile.countryId == c.id %}selected="selected"{% endif %}>{{ c.name }}</option>
					{% endfor %}
					<option value="0" {% if profile.cityId == 0 %}selected="selected"{% endif %}>Другая...</option>
				</select>
			</label>
			<br><label>
				<strong>Город <sup>*</sup></strong>
				<select name="city">
				</select>
			</label>
			<br><label>
				<strong>Пол</strong>
				<select name="sex">
					<option value="0">-</option>
					<option value="1" {% if profile.userInfo.sex == 1 %}selected="selected"{% endif %}>мужской</option>
					<option value="2" {% if profile.userInfo.sex == 2 %}selected="selected"{% endif %}>женский</option>
				</select>
			</label>
			<br><label>
				<strong>Семья</strong>
				<select name="family">
					<option value="0"{% if profile.userInfo.married == 0 %}selected="selected"{% endif %}>-</option>
					<option value="1"{% if profile.userInfo.married == 1 %}selected="selected"{% endif %}>женат/замужем</option>
					<option value="2"{% if profile.userInfo.married == 2 %}selected="selected"{% endif %}>холост/холоста</option>
				</select>
			</label>
			<br><label>
				<strong>Я хотел{% if profile.userInfo.sex == 2 %}а{% endif %} бы встретиться с</strong>
				<select name="meet_actor">
					<option value="0">ни с кем</option>
					{% for person in persons %}
						<option value="{{ person.id }}"{% if profile.userInfo.meetPerson == person.id %}selected="selected"{% endif %}>{{ person.name }}</option>
					{% endfor %}
				</select>
			</label>
			<br><label class="long">
				<strong>Я хочу получать ежедневную рассылку новостей с сайта</strong>
				<input type="checkbox" name="daily_sub" value="1" {% if profile.userSettings.dailySubscribe == 1 %}'checked="checked"{% endif %}>
			</label>
			<br><label class="long">
				<strong>Я хочу получать уведомления о новых сообщения</strong>
				<input type="checkbox" name="alert_on_new_mail" value="1" {% if profile.userSettings.alertMessage == 1 %}'checked="checked"{% endif %}>
			</label>
			<br><label class="long">
				<strong>Я хочу получать уведомления о новых записях в гостевой</strong>
				<input type="checkbox" name="alert_on_new_guest_items" value="1" {% if profile.userSettings.alertGuestBook == 1 %}'checked="checked"{% endif %}>
			</label>
			<br><label class="long">
				<strong>Принимать приглашения в группу</strong>
				<input type="checkbox" name="can_invite_to_community_groups" value="1" {% if profile.userSettings.canInvite == 1 %}'checked="checked"{% endif %}>
			</label>
			<br><input type="submit" value="сохранить" /><label></label>

		</form>

	</div>

	<div class="clearfix"></div>

{% endblock %}