{% extends '/GenericInner.twig' %}

{% block head %}

<title>Звездные пары - popcornnews</title>

	<script type="text/javascript">
		$(function(){
			$('a[data-action=vote-up],a[data-action=vote-down]').on('click',function(){

				var meetParent = $(this).closest('.meet');
				var textDefault = meetParent.find('.text').attr('data-default-text');

				var action = $(this).attr('data-action');
				var meetId  = meetParent.attr('data-meet-id');


				var params = {
					'meetId' : meetId,
					'vote'  : action
				};

				var handler = function(response){

					if (response.status == 'success'){

						meetParent.find('.stats .col, .stats .text').animate({ opacity: 0 },'fast',function(){

							meetParent.find('.col').text(response.points);

							if (action == 'vote-up'){
								meetParent.find('.btn_minus').addClass('btn_disable');
							}else if (action == 'vote-down'){
								meetParent.find('.btn_plus').addClass('btn_disable');
							}

							meetParent
								.find('.text')
								.text('Спасибо, ваш голос принят!')
								.animate({ opacity: 1 },'fast',function(){
									$this = $(this);
									setTimeout(function(){
										$this.text(response.pointsOverall);
									},2000);
								})
							;

							$(this).animate({ opacity: 1 },'fast');
						});

					}else{

						meetParent.find('.stats .text').animate({ opacity: 0 },'fast',function(){

							meetParent.find('.text').html(response.exception.message);

							$(this).animate({ opacity: 1 },'fast',function(){

								setTimeout(function(){
									meetParent.find('.text').animate({ opacity: 0 },'fast',function(){
										$(this).html(textDefault);

										$(this).animate({ opacity: 1 },'fast');
									});
								},2000);


							});
						});
					}

				};

				$.post('/ajax/meetings/vote',params,handler,'json');

				return false;

			});
		});
	</script>

{% endblock %}

{% block content %}

<div class="b-grid__g8 b-meets">

<h1>Звездные пары<span>Голосование за пары – какая пара лучше?</span></h1>

	{% spaceless %}

	{% for meeting in meetings %}

		{% set textDefault = meeting.votesOverall|ruNumber(['нет голосов','%u голос','%u голоса','%u голосов']) %}

		{% if meeting.firstPerson.photo.name %}
			{% set photoFirst = meeting.firstPerson.photo.thumb('192x') %}
		{% else %}
			{% set photoFirst = '' %}
		{% endif %}

		{% if meeting.secondPerson.photo.name %}
			{% set photoSecond = meeting.secondPerson.photo.thumb('192x') %}
		{% else %}
			{% set photoSecond = '' %}
		{% endif %}

		{% set age1 = meeting.firstPerson.birthDate|ruAge %}
		{% if age1 == 1 %}
			{% set age1 = meeting.date1|ruAge %}
		{% endif %}

		{% set age2 = meeting.secondPerson.birthDate|ruAge %}
		{% if age2 == 1 %}
			{% set age2 = meeting.date2|ruAge %}
		{% endif %}

		<div class="meet" data-meet-id="{{ meeting.id }}">
			<h2><a href="/meet/{{ meeting.id }}">{{ meeting.title|e }}</a></h2>
			<div class="pics">
				<ul class="b-column-news">
                    <li class="b-grid__g13">
						<a href="/meet/{{ meeting.id }}"><img src="{{ photoFirst.url }}" alt="{{ meeting.name|e }}" width="{{ photoFirst.width }}" height="{{ photoFirst.height }}"/></a>                                		
			<div>{{ age1 }}</div>
			        </li>
			        <li class="b-grid__g13">
						<a href="/meet/{{ meeting.id }}"><img src="{{ photoSecond.url }}" alt="{{ meeting.name|e }}" width="{{ photoSecond.width }}" height="{{ photoSecond.height }}"/></a>
                        <div>{{ age2 }}</div>
					</li>
				</ul>
			</div>
			<div class="stats">
				<div class="vote">
					<div class="col b-firm-grad">{{ meeting.votes }}</div>
					<div class="btn-wrap">
						<a href="#" data-action="vote-up" class="b-firm-grad btn btn_plus">+</a>
						<a href="#" data-action="vote-down" class="b-firm-grad btn btn_minus">&ndash;</a>
					</div>
					<p class="text" data-default-text="Всего {{ textDefault }}">Всего {{ textDefault }}</p>
				</div>
				<div class="under">
					<p><a href="/meet/{{ meeting.id }}#comments"><strong>{{ meeting.commentsCount|ruNumber(['нет комментарий','%u комментарий','%u комментария','%u комментариев']) }}</strong></a></p>
					<p><a href="/meet/{{ meeting.id }}#new-comment">Написать комментарий</a></p>
				</div>
			</div>
			<div class="desc">
				<div class="db">{{ meeting.description }}</div>
			</div>
		</div>
	{% endfor %}

	{% endspaceless %}

	{{ html.paginator(paginator.pages,paginator.active,'/meet/page%u') }}

</div>

{% endblock %}