{% extends '/Generic.twig' %}
{% import '/Mixins.twig' as html %}

{% block HeadEnd %}

	<style type="text/css">

		.table-items a {
			font-size: 13px;
		}

		.table-items .stat .progress {
			margin-bottom: 5px;
		}

		.table-items .stat .progress-bar strong {
			padding-left: 5px;
		}

		.table-items .stat .label {
			margin-right: 5px;
		}
	</style>

{% endblock %}

{% block BodyEnd %}


{% endblock %}

{% block PageTop %}

	<h3 class="page-title">
		Список детей
		<small>просмотр сводной информации</small>
	</h3>

	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="/office">Консоль</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="/office/kids">Дети</a>
			<i class="fa"></i>
		</li>
	</ul>

{% endblock %}

{% block PageContent %}


	{% if kids|length %}

		<div class="nav-pagination">
			<a class="btn btn-success" href="/office/kid_create"><i class="fa fa-plus"></i>добавить ребенка</a>
			{{ html.paginator(paginator.pages,paginator.active,'/office/kids/page%u') }}
			<div class="clearfix"></div>
		</div>

		<div class="table-responsive">
			<table class="table table-hover table-items">
				<thead>
				<tr>
					<th></th>
					<th style="white-space:nowrap;">дата рождения</th>
					<th></th>
					<th style="width:100%;">имя</th>
					<th>рейтинг</th>
				</tr>
				</thead>
				<tbody>
				{% for kid in kids %}
					<tr data-kid-id="{{ kid.id }}">
						<td style="white-space: nowrap;">
							<a class="btn btn-default btn-xs tooltips" data-original-title="Редактировать ребенка"
							   data-placement="top" href="/office/kid{{ kid.id }}"><i class="fa fa-edit"></i></a>
							<a class="btn btn-danger btn-xs tooltips" data-original-title="Удалить ребенка"
							   data-placement="top" href="/office/kid{{ kid.id }}/remove"><i class="fa fa-trash-o"></i></a>
						</td>
						<td>{{ kid.birthDate|date('d.m.Y') }}</td>
						<td><a class="btn btn-info tooltips" data-original-title="{{ kid.comments|ruNumber(['нет комментарий','%u комментарий','%u комментария','%u комментариев']) }}" href="#">{{ kid.comments }}</a></td>
						<td><a class="btn btn-default" href="/office/kid{{ kid.id }}">{{ kid.name|e }}</a></td>
						<td style="white-space:nowrap;">
							<span class="label label-info">{{ kid.votes }}</span>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="nav-pagination">
			<a class="btn btn-success" href="/office/kid_create"><i class="fa fa-plus"></i>добавить ребенка</a>
			{{ html.paginator(paginator.pages,paginator.active,'/office/kids/page%u') }}
			<div class="clearfix"></div>
		</div>

	{% else %}

		<div class="note note-info">
			<h4 class="note-heading">Пока не добавлено ни одного ребенка</h4>

			<p>
				<a class="btn btn-success" href="/office/kid_create">Добавить ребенка</a>
			</p>
		</div>

	{% endif %}

{% endblock %}